<!-- Twitter card -->
{# <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.image.feature %}{{ page.image.feature | prepend: site.baseurl_featured_img | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}"> #}

<!-- Open graph -->
<meta property="og:title" content="Barcamp Brno {{config.YEAR}}{% if self.title() %} | {% endif %}{% block title %}{% endblock %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:image" content="{{ request.host_url }}static/img/barcamp-square.png">
<meta property="og:description" content="Největší česká otevřená konference o byznysu, marketingu, vývoji a inovacích.">
<meta property="og:site_name" content="Barcamp Brno {{config.YEAR}}">
<meta property="og:locale" content="cs_CZ">


<meta name="description" content="Největší česká otevřená konference o byznysu, marketingu, vývoji a inovacích." />
<meta name="keywords" content="Barcamp Brno {{config.YEAR}}" />
<title>Barcamp Brno {{config.YEAR}}{% if self.title() %} | {% endif %}{{ self.title() }}</title>

<meta name="author" content="Barcamp Brno {{config.YEAR}}" />
<meta name="google-site-verification" content="uaKNVsyJozxJS1QF4u-sSqcKAwQjJYwqZQ_9teQyPsY" />
