<!-- Twitter card -->
{# <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.author.twitter }}">
<meta name="twitter:creator" content="@{{ site.author.twitter }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.image.feature %}{{ page.image.feature | prepend: site.baseurl_featured_img | prepend: site.url }}{% else %}{{ site.icon | prepend: site.baseurl | prepend: site.url }}{% endif %}">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}"> #}

<!-- Open graph -->
<meta property="og:title" content="Barcamp Brno {{config.YEAR}}{% if self.title() %} | {% endif %}{% block title %}{% endblock %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:image" content="{{ request.host_url }}static/img/barcamp-square.png">
<meta property="og:description" content="Největší česká otevřená konference o byznysu, marketingu, vývoji a inovacích.">
<meta property="og:site_name" content="Barcamp Brno {{config.YEAR}}">
<meta property="og:locale" content="cs_CZ">


<meta name="description" content="Největší česká otevřená konference o byznysu, marketingu, vývoji a inovacích." />
<meta name="keywords" content="Barcamp Brno {{config.YEAR}}" />
<title>Barcamp Brno {{config.YEAR}}{% if self.title() %} | {% endif %}{{ self.title() }}</title>

<meta name="author" content="Barcamp Brno {{config.YEAR}}" />
<meta name="google-site-verification" content="uaKNVsyJozxJS1QF4u-sSqcKAwQjJYwqZQ_9teQyPsY" />

<link rel="apple-touch-icon" sizes="57x57" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-57x57.png{{anticache}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-60x60.png{{anticache}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-72x72.png{{anticache}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-76x76.png{{anticache}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-114x114.png{{anticache}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-120x120.png{{anticache}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-144x144.png{{anticache}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-152x152.png{{anticache}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/apple-icon-180x180.png{{anticache}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/android-icon-192x192.png{{anticache}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/favicon-32x32.png{{anticache}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/favicon-96x96.png{{anticache}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/favicon-16x16.png{{anticache}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicons.ico/ms-icon-144x144.png{{anticache}}">
<meta name="theme-color" content="#ffffff">
