
/*

	CSS: BARCAMP BRNO
	Author: moravio.com

*/
    
@font-face {
    font-family: 'titilliumtext22l_rgregular';
    src: url('../fonts/titilliumtext22l003-webfont.eot');
    src: url('../fonts/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l003-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l003-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l003-webfont.svg#titilliumtext22l_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'titilliumtext22l_rgbold';
    src: url('../fonts/titilliumtext22l005-webfont.eot');
    src: url('../fonts/titilliumtext22l005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l005-webfont.woff') format('woff'),
         url('../fonts/titilliumtext22l005-webfont.ttf') format('truetype'),
         url('../fonts/titilliumtext22l005-webfont.svg#titilliumtext22l_rgbold') format('svg');
    font-weight: bold /* normal */;
    font-style: normal;}

html, body {width: 100%; height: 100%; background: #292929;}

body, select, input, textarea, button {font-family: Helvetica, Arial, sans-serif;}

body {color:#636363; font-size: 12px; line-height: 21px; position:relative;}
body, table, h1, h2, h3, h4, h5, h6, ul, a, li, ol, img, p, form, hr, dl, dt, dd, frame, fieldset, button {padding:0px; margin:0px; border:0px;}

ul {list-style:none;}
img {display:block;}

a, a:active, a:visited {color:#ff3c29; text-decoration: underline;}
a:hover {color:#132b35; text-decoration: none;}

a {-webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; -ms-transition: all 0.15s linear; transition: all 0.15s linear;}
.top_bar .a_login, .a_button {-webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none;}

label, input[type="button"], input[type="submit"], input[type="image"], button {cursor:pointer;}

h1, h2, h3, h4, h5, h6 {color: #fff;}
h1 {font-size:70px;}
h2 {font-size:22px;}
h3, h4, h5, h6 {font-size:18px;}

.clr {clear:both; height:0px; overflow:hidden; font-size:1px; border:0px; padding:0px; margin:0px; line-height:0px;}

*:focus {outline: none;}  
textarea {resize: none; overflow:auto;}

td, th {vertical-align: top; font-weight:normal;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

button, input, select, textarea {margin:0; font-size:1em;}

button {width:auto; overflow:visible;}

::-moz-selection {background: #ffea92; color:#a18558;}
::selection {background: #ffea92; color:#a18558;}

#page {min-width: 960px;}

.center_page, .admin_content_box, .header_info, .header .button_box, .login_bar .login_box, .login_box .button_box, .members_content, .login_bar, .loading_circle, #avatar-form .buttons_box {float: none; clear: both; overflow: hidden;}

.footer .button, .top_bar .logo_site, .forgotten_password {position: relative; display: block; white-space: nowrap; text-indent: 120%; overflow: hidden;}

.footer .content_left, .site_name, .header_info li, .header .button_box .counter, .lecturer_button, .error_bar, .program_table {font-family: 'titilliumtext22l_rgregular', Helvetica; font-weight: normal;}

.top_admin_bar .logo_site, .top_admin_bar .a_logout, .avatar_box .a_upload, .admin_form .submit_button, .admin_user_box .user_name, .top_admin_bar .a_home, .footer .content_left a, .footer_404 a, .main_menu a, .top_bar .a_login, .site_name span, .header_info span, .header .button_box .button, .header .button_box .counter strong, .login_bar .title, .login_box .button_box .button, .lecturer_box .content h2, .members_box .content h2, .sponzors_box .content h2, .a_button, .login_form .submit_button, .login_form .oldschool_login, .progress_box, .error_bar strong, .vote-link, .header_thx {font-family: 'titilliumtext22l_rgbold', Helvetica; font-weight: normal;}

.lecturer_button {-moz-border-radius: 91px; -webkit-border-radius: 91px; border-radius: 91px;}
.lecturer_button .button {-moz-border-radius: 44px; -webkit-border-radius: 44px; border-radius: 44px;}
.login_box .button_box {-moz-border-radius: 33px; -webkit-border-radius: 33px; border-radius: 33px;}
.header .button_box, .progress_box {-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;}
.footer .button, .header .button_box .button {-moz-border-radius: 27px; -webkit-border-radius: 27px; border-radius: 27px;}
.login_form .input_box {-moz-border-radius: 26px; -webkit-border-radius: 26px; border-radius: 26px;}
.progress_box .item {-moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;}
.admin_form input[type="text"], .login_form input[type="text"], .login_form input[type="password"], .login_form .submit_button, .red_button {-moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;}
.top_admin_bar .a_logout, .admin_form .submit_button, .top_bar .a_login, .a_button {-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;}
.admin_content_box, #avatar-form, .jGrowl-notification {-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
.avatar_box, .avatar_box img, .login_form em.error, .admin_form em.error {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}

.avatar_box, .avatar_box img, .admin_content_box, .top_admin_bar .a_logout, .admin_form .submit_button, .top_bar .a_login, .admin_form input[type="text"], .login_form input[type="text"], .login_form input[type="password"], .login_form .input_box, .footer .button, .header .button_box .button, .header .button_box, .login_box .button_box, .lecturer_button .button, .lecturer_button, .login_form em.error, .progress_box, .progress_box .item, .red_button, .jGrowl-notification, .admin_form em.error, .admin_user_box .avatar_box .a_upload {-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;}

.center_page {width: 960px; position: relative; margin: 0 auto;}

.page_404 {display: table; width: 100%; height: 100%; max-width: 100%; position: relative; z-index: 2;}
.page_404 .content {background-color: #ff3f2c; display: table-cell; vertical-align: middle; text-align: center; max-width: 100%;}
.page_404 .content img {display: block; position: relative; margin: 0 auto 0 auto; width: 100%; max-width: 858px;}

.footer_404 {position: fixed; top: 0; left: 0; width: 100%; height: 80px; line-height: 80px; z-index: 3; background-color: rgba(41,41,41,.90); text-align: center;}
.footer_404 a {color: #fff; text-transform: uppercase; font-size: 16px;}

.video_box_404 {position: absolute; top: 0; left: 0; z-index: 1; width: 1px; height: 1px; overflow: hidden;}

.footer {padding: 30px 0;}
.footer .content_left {line-height: 27px; background: url('../images/copyright_ico.png') no-repeat left 2px; padding: 0 0 0 35px; margin: 2px 0 0 15px; font-size: 13px; text-transform: uppercase; color: #747474; float: left;}
.footer .content_right {float: right; margin: 0 15px 0 0;}
.footer a {color: #747474;}
.footer a:hover {color: #fff;}
.footer .odd {display: inline-block; width: 1px; height: 14px; font-size: 1px; line-height: 0; border-left: 1px solid #4a4a4a; margin: 0 12px -2px 12px;}
.footer .button {width: 50px; height: 50px; display: inline-block; border: 2px solid #4a4a4a; position: relative; margin: 0 0 0 10px;}
.footer .button:hover {border-color: #8c8c8c;}
.footer .button.twitter {background: url('../images/twitter_icon.png') no-repeat center center;}
.footer .button.facebook {background: url('../images/facebook_icon.png') no-repeat center center;}

.top_admin_bar {width:  100%; min-height: 80px; color: #fff; background: #e72d28 url('../images/header_img_old.jpg') no-repeat center -280px;}
.top_admin_bar .logo_site {font-size: 25px; text-transform: uppercase; background: url('../images/logo_site_admin.png') no-repeat 0 0; display: block; line-height: 39px; padding: 0 0 0 60px; margin: 20px 0 20px 30px;  text-shadow: 0 1px 0 rgba(0,40,62,.2);}
.top_admin_bar .logo_site a {color: #fff; text-decoration: none;}
.top_admin_bar .a_logout {display: block; float: left; text-decoration: none; text-transform: uppercase; color: #fff; text-shadow: 0 1px 0 rgba(0,40,62,.2); font-size: 15px; line-height: 40px; padding: 0 20px; margin: 20px 30px 15px 0; -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2); box-shadow: 0 1px 0 rgba(255,255,255,.2); background-color: rgba(127,14,10,.5);}
.top_admin_bar .a_logout:hover {-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4); box-shadow: 0 1px 0 rgba(255,255,255,.4); background-color: rgba(73,13,11,.5);}
.top_admin_bar .a_home {float: left; display: block; line-height: 40px; padding: 0 20px; margin: 20px 0 15px 0; font-size: 15px; text-decoration: none; text-transform: uppercase; color: #fff; text-shadow: 0 1px 0 rgba(0,40,62,.2);}
.top_admin_bar .a_home:hover {color: #fff;}
.top_admin_bar .content_left {float: left;}
.top_admin_bar .content_right {float: right;}

.admin_content {background: #fff; padding: 45px 0;}

.admin_content_box {background-color: #f1f1f1; padding: 30px;}
.admin_content_box .content_left {width: 430px; float: left; padding: 30px 20px 0 0;}
.admin_content_box .content_right {width: 419px; float: left; padding: 30px 0 0 30px; border-left: 1px solid #cfcfcf;}

.admin_user_box .avatar_box {width: 90px; height: 90px; overflow: hidden; position: relative; float: left; margin: 0 0 20px 0;}
.admin_user_box .avatar_box img {position: relative; z-index: 1;}
.admin_user_box .avatar_box .a_upload {width: 100%; height: 20px; line-height: 20px; position: absolute; background: rgba(0, 0, 0, .5); position: absolute; bottom: 0; left: 0; z-index: 2; text-align: center; text-decoration: none; color: #fff; font-size: 12px; text-transform: uppercase; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}
.admin_user_box .avatar_box .a_upload:hover {background: rgba(0, 0, 0, .8);}

.admin_user_box .user_name {float: left; font-size: 30px; color: #797979; padding: 13px 0 0 20px; text-transform: uppercase; width: 300px; line-height: 30px;}

.admin_form fieldset {margin: 0 0 10px 0; position: relative;}
.admin_form label {width: 115px; float: left; color: #636363; line-height: 44px;}
.admin_form input[type="text"] {width: 252px; height: 44px; font-size: 12px; color: #646464; padding: 0 22px; background-color: #fff; border: 1px solid #c8c8c8;}
.admin_form input[type="text"]:focus {border-color: #848484; color: #343434;}

.admin_form .submit_button, .red_button {line-height: 40px; margin: 0 6px 0 0; padding: 0 15px; font-size: 14px; text-shadow: 0 1px 1px rgba(158,31,19,.75); display: block; color: #fff; text-transform: uppercase;background-color: #ff2d27;
background-image: -moz-linear-gradient(bottom, #ff1713 0%, #ff4339 100%);
background-image: -o-linear-gradient(bottom, #ff1713 0%, #ff4339 100%);
background-image: -webkit-linear-gradient(bottom, #ff1713 0%, #ff4339 100%);
background-image: linear-gradient(bottom, #ff1713 0%, #ff4339 100%);}
.admin_form .submit_button {float: right;}
.admin_form .submit_button:hover, .red_button:hover {text-shadow: 0 1px 1px rgba(158,31,19,1);background-color: #ff2d27;
background-image: -moz-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%);
background-image: -o-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%);
background-image: -webkit-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%);
background-image: linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%);}

.top_bar {background: #fff; min-height: 80px;}
.top_bar .content_left {float: left; padding: 0 0 0 30px;}
.top_bar .content_right {float: right; padding: 0 30px 0 0;}

.top_bar .logo_site {width: 20px; height: 18px; background: url('../images/logo_site.png') no-repeat 0 0; float: left; margin: 31px 0 0 0;}

.main_menu {float: left; margin: 28px 0 0 0;}
.main_menu li {float: left; margin-left: 55px;}
.main_menu a {color: #aaaaaa; text-decoration: none; text-transform: uppercase; font-size: 15px;}
.main_menu a:hover {color: #7a7a7a;}

.top_bar .a_login {display: block; line-height: 40px; padding: 0 20px; text-decoration: none; text-transform: uppercase; background-color: #e4e4e4; font-size: 15px; color: #9e9e9e; text-shadow: 0 1px 0 rgba(255,255,255,.75); background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); float: left; margin: 20px 0 20px 15px;}

.top_bar .a_login:hover {color: #fff; text-shadow: 0 1px 1px rgba(158,31,19,.75); background: #ff3b33;}

.header {width: 100%; min-width: 960px; height: 600px; position: relative; background: #ff3128; overflow: hidden;}

.header_img {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1; background: url('../images/header_img_old.jpg') repeat-x top left; }
.header_content {width: 100%; height: 600px; position: relative; z-index: 2; background: url('../images/header_odd.png') no-repeat center 273px;}

.site_name {line-height: 143px; text-align: left; text-transform: uppercase; margin: 73px 0 0 100px; padding: 0 0 0 214px; text-shadow: 0 1px 3px rgba(65,7,0,.5); background: url('../images/logo_site_header.png') no-repeat left center;}
.header_thx {color: #fff; text-align: center; display: block; font-size: 25px; text-transform: uppercase; text-shadow: 0 1px 3px rgba(65,7,0,.5);}

.header_info {margin: 78px 0 0 20px; text-shadow: 0 1px 1px rgba(111,17,0,.3);}
.header_info li {float: left; color: #ffeb8e; text-transform: uppercase; font-size: 17px;}
.header_info span {color: #fff;}
.header_info li.pos_01 {width: 240px; margin: 0 117px 0 0;}
.header_info li.pos_02 {width: 265px; margin: 0 122px 0 0;}
.header_info li.pos_03 {width: 150px;}
.header_info a {color: #fff;}

.header .button_box {width: 474px; margin: 120px auto 0 auto; height: 54px; padding: 3px; background-color: rgba(116,33,19,.4); -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2); -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2); box-shadow: 0 1px 0 rgba(255,255,255,.2);}
.header .button_box .button {width: 232px; height: 54px; float: left; line-height: 54px; font-size: 18px; display: block; text-align: center; text-decoration: none; text-transform: uppercase; background-color: #ffb932; -moz-box-shadow: 0 1px 2px rgba(10,48,68,.75), inset 0 1px 0 rgba(255,255,255,.3); -webkit-box-shadow: 0 1px 2px rgba(10,48,68,.75), inset 0 1px 0 rgba(255,255,255,.3); box-shadow: 0 1px 2px rgba(10,48,68,.75), inset 0 1px 0 rgba(255,255,255,.3); background-image: -moz-linear-gradient(bottom, #ffa323 0%, #ffd96c 100%); background-image: -o-linear-gradient(bottom, #ffa323 0%, #ffd96c 100%); background-image: -webkit-linear-gradient(bottom, #ffa323 0%, #ffd96c 100%); background-image: linear-gradient(bottom, #ffa323 0%, #ffd96c 100%); color: #65491e; text-shadow: 0 1px 1px rgba(255,255,255,.5);}
.header .button_box .button:hover {background-color: #ffc962; background-image: -moz-linear-gradient(bottom, #ffb945 0%, #ffd97d 100%); background-image: -o-linear-gradient(bottom, #ffb945 0%, #ffd97d 100%); background-image: -webkit-linear-gradient(bottom, #ffb945 0%, #ffd97d 100%); background-image: linear-gradient(bottom, #ffb945 0%, #ffd97d 100%);}
.header .button_box .counter {float: left; width: 240px; text-align: center; color: #fff; line-height: 54px; font-size: 18px; text-shadow: 0 1px 0 rgba(0,40,62,.2); text-transform: uppercase;}
.header .button_box .button.disabled {cursor: default; color: #ae7b2e; text-shadow: 0 1px 1px rgba(255,255,255,.3);}

.login_bar {background: #2b2b2b; position: relative; z-index: 5;}
.login_bar .title {font-size: 22px; color: #fff; text-align: center; margin: 45px 0 34px 0; text-transform: uppercase;}
.login_bar .a_close {font-size: 15px; color: #7f7f7f; text-decoration: none; cursor: pointer;}
.login_bar .a_close:hover {color: #fff;}

.login_box {height: 316px; margin: 0 0 60px 0; background: url('../images/login_box.png') no-repeat center center;}
.login_box .content_left {float: left; margin: 0 0 0 30px;}
.login_box .content_right {float: right;}
.login_box .button_box {background-color: #1b1b1b; padding: 3px; display: block; margin: 108px 0 0 28px;}
.login_box .button_box .button {height: 60px; line-height: 60px; display: block; float: left; text-decoration: none; font-size: 15px; color: #fff; text-transform: uppercase; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3); box-shadow: inset 0 1px 0 rgba(255,255,255,.3); padding: 0 20px; text-shadow: 0 1px 0 rgba(10,10,10,.2);}
.login_box .button_box .button.facebook {background-color: #5a78c6; background-image: -moz-linear-gradient(bottom, #3e579a 0%, #7293eb 100%); background-image: -o-linear-gradient(bottom, #3e579a 0%, #7293eb 100%); background-image: -webkit-linear-gradient(bottom, #3e579a 0%, #7293eb 100%); background-image: linear-gradient(bottom, #3e579a 0%, #7293eb 100%); -moz-border-radius: 30px 0 0 30px; -webkit-border-radius: 30px 0 0 30px; border-radius: 30px 0 0 30px; -moz-background-clip: padding;}
.login_box .button_box .button.twitter { background-color: #2496d2; background-image: -moz-linear-gradient(bottom, #2496d2 0%, #73cfff 100%); background-image: -o-linear-gradient(bottom, #2496d2 0%, #73cfff 100%); background-image: -webkit-linear-gradient(bottom, #2496d2 0%, #73cfff 100%); background-image: linear-gradient(bottom, #2496d2 0%, #73cfff 100%); -moz-border-radius: 0 30px 30px 0; -webkit-border-radius: 0 30px 30px 0; border-radius: 0 30px 30px 0;}
.login_box .button_box .button.facebook:hover {background-color: #2496d2; background-image: -moz-linear-gradient(bottom, #2c4484 0%, #91aef8 100%); background-image: -o-linear-gradient(bottom, #2c4484 0%, #91aef8 100%); background-image: -webkit-linear-gradient(bottom, #2c4484 0%, #91aef8 100%); background-image: linear-gradient(bottom, #2c4484 0%, #91aef8 100%);}
.login_box .button_box .button.twitter:hover {background-color: #2496d2; background-image: -moz-linear-gradient(bottom, #0079b9 0%, #94daff 100%); background-image: -o-linear-gradient(bottom, #0079b9 0%, #94daff 100%); background-image: -webkit-linear-gradient(bottom, #0079b9 0%, #94daff 100%); background-image: linear-gradient(bottom, #0079b9 0%, #94daff 100%);}
.login_box .button_box .button.facebook span {display: block; background: url('../images/facebook_icon_2.png') no-repeat left center; padding: 0 0 0 28px;}
.login_box .button_box .button.twitter span {display: block; background: url('../images/twitter_icon_2.png') no-repeat left center; padding: 0 0 0 36px;}

.login_form {text-align: center; margin: 68px 115px 0 0;}
.login_form input[type="text"], .login_form input[type="password"] {width: 210px; background-color: rgba(255,255,255,.9); -moz-box-shadow: 0 0 0 1px #00253d; -webkit-box-shadow: 0 0 0 1px #00253d; box-shadow: 0 0 0 1px #00253d; border: none; padding: 15px 20px; border: none; color: #0f2f42; position: relative;}
.login_form input[type="text"]:focus, .login_form input[type="password"]:focus {background: #fff;}
.login_form .input_box {padding: 2px; position: relative; margin: 0 0 3px 0; background-color: rgba(27,27,27,.9);}
.login_form .forgotten_password {width: 20px; height: 20px; background: url('../images/forgotten_password.png') no-repeat 0 0; position: absolute; top: 13px; right: 13px; opacity: 0.6;}
.login_form .forgotten_password:hover {opacity: 1;}
.login_form .submit_button {width: 250px; height: 44px; line-height: 44px; color: #fff; background-color: #fff; text-transform: uppercase; font-size: 15px; color: #fff; text-shadow: 0 1px 1px rgba(158,31,19,.75); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3); box-shadow: inset 0 1px 0 rgba(255,255,255,.3); background-image: -moz-linear-gradient(bottom, #ff1713 0%, #ff4339 100%); background-image: -o-linear-gradient(bottom, #ff1713 0%, #ff4339 100%); background-image: -webkit-linear-gradient(bottom, #ff1713 0%, #ff4339 100%); background-image: linear-gradient(bottom, #ff1713 0%, #ff4339 100%);}
.login_form .submit_button:hover {background-color: #ff2d27; background-image: -moz-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%); background-image: -o-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%); background-image: -webkit-linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%); background-image: linear-gradient(bottom, #ff0505 0%, #ff5b4d 100%);}
.login_form .oldschool_login {color: #7f7f7f; font-size: 13px; text-transform: uppercase; display: inline-block; margin: 8px 0 0 0; background: url('../images/a_oldschool_login.png') no-repeat left center; padding: 0 0 0 40px;}
.login_form .oldschool_login:hover {color: #fff;}
.login_form input[type="text"].error, .login_form input[type="password"].error,
.admin_form input[type="text"].error, .admin_form input[type="password"].error {background-image: -moz-linear-gradient(bottom, rgba(255,63,44,.3) 0%, rgba(255,63,44,0) 100%); background-image: -o-linear-gradient(bottom, rgba(255,63,44,.3) 0%, rgba(255,63,44,0) 100%); background-image: -webkit-linear-gradient(bottom, rgba(255,63,44,.3) 0%, rgba(255,63,44,0) 100%); background-image: linear-gradient(bottom, rgba(255,63,44,.3) 0%, rgba(255,63,44,0) 100%);}
.admin_form input[type="text"].error, .admin_form input[type="password"].error {border-color: #8c1700;}
.login_form em.error, .admin_form em.error {display: block; position: absolute; top: -20px; left: 57px; background: #ff3d2a; border: 1px solid #00263d; padding: 3px 5px; color: #fff;}
.login_form em.error:after, .login_form em.error:before, .admin_form em.error:after, .admin_form em.error:before {top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.login_form em.error:after, .admin_form em.error:after {border-color: rgba(255, 61, 42, 0); border-top-color: #ff3d2a; border-width: 5px; left: 50%; margin-left: -5px;}
.login_form em.error:before, .admin_form em.error:before {border-color: rgba(0, 38, 61, 0); border-top-color: #00263d; border-width: 6px; left: 50%; margin-left: -6px;}
.admin_form em.error {left: 193px;}

.hide {display: none;}
.loading {float: right; width: 16px; height: 44px; line-height: 44px; margin-right: 20px; background: url('/images/loading.gif') left center no-repeat;}
.loading span {display: none;}

#avatar-form {clear: both; padding-top: 20px;}

.lecturer_box {background: #2b2b2b url('../images/lecturer_box.png') no-repeat center 60px; position: relative; padding: 0 0 40px 0;}
.lecturer_box .center_page {min-height: 600px;}
.lecturer_box_odd {width: 100%; height: 9px; position: absolute; top: 66px; left: 0; z-index: 1; background: url('../images/lecturer_box_odd.png') no-repeat center top;}
.lecturer_box .content {position: relative; z-index: 5; padding: 46px 0 0 0;}
.lecturer_box .content h2 {text-align: center; line-height: 26px; text-transform: uppercase;}

.lecturer_button .button:before {width: 554px; height: 182px; opacity: .4; border: 2px solid #3f3f3f; -moz-border-radius: 93px; -webkit-border-radius: 93px; border-radius: 93px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; position: absolute; top: -50px; left: -80px; content: " ";}
.lecturer_button .button {width: 309px; height: 62px; display: block; border: 2px solid #545454; position: relative; background: url('../images/lecturer_button.png') no-repeat 18px -82px; text-decoration: none; color: #7f7f7f !important; text-transform: uppercase; font-size: 15px; padding: 20px 0 0 80px; margin: 205px auto 20px auto;}
.lecturer_button .button strong {color: #fff; text-decoration: underline;}
.lecturer_button .button:hover {background-position: 18px 0; border-color: #808080; color: #fff !important;}

.members_box {background: #ffe787; position: relative; padding: 0 0 40px 0;}
.members_box_odd {width: 100%; height: 9px; position: absolute; top: 66px; left: 0; z-index: 1; background: url('../images/members_box_odd.png') no-repeat center top;}
.members_box .center_page {position: relative; z-index: 5; padding: 57px 0 0 0;}
.members_box .content h2 {text-align: center; line-height: 26px; text-transform: uppercase; color: #7e6844;}
.members_box_bg {width: 100%; background: url('../images/members_box_bg.png') repeat-y center top; margin: 63px 0 0 0;}
.members_content {width: 870px; margin: 0 auto; position: relative; padding: 0 0 0 10px;}
.members_content .item {width: 48px; height: 48px; display: block; overflow: hidden; padding: 0 10px 10px 0; float: left;}

.sponzors_box {background: #fff; position: relative;}
.sponzors_box_odd {width: 100%; height: 9px; position: absolute; top: 66px; left: 0; z-index: 1; background: url('../images/sponzors_box_odd.png') no-repeat center top;}
.sponzors_box .center_page {position: relative; z-index: 5; padding: 57px 0 60px 0;}
.sponzors_box .content h2 {text-align: center; line-height: 26px; text-transform: uppercase; color: #8f8f8f;}

.sponzors_content {width: 965px; margin: 60px auto 0 auto; text-align: center;}
.sponzors_content .item {display: inline-block; margin: 0 19px 10px 0; border: 1px solid #e4e4e4;}
.sponzors_content .item:hover {border-color: #a8a8a8;}

.a_button {display: inline-block; margin: 20px 0; line-height: 40px; padding: 0 20px; text-decoration: none; text-transform: uppercase; background-color: #e4e4e4; font-size: 15px; color: #888888 !important; text-shadow: 0 1px 0 rgba(255,255,255,.75); background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%); background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 100%);}
.a_button:hover, .a_button.hover {color: #fff !important; text-shadow: 0 1px 1px rgba(158,31,19,.75); background: #ff3b33;}

.top_form_box {text-align: center; color: #fff; padding: 0 0 50px 0;}
.top_form_box .login_form {margin: 0;}
.top_form_box .input_box {background: #00263d; padding: 2px; position: relative; margin: 0 0 3px 0; display: inline-block;}
.top_form_box p.text {margin: 0 0 20px 0;}

.progress_box {display: inline-block; height: 49px; padding: 5px; background-color: #202020; margin: 0 0 25px 0;}
.progress_box .item {display: inline-block; width: 45px; height: 45px; background: #202020; border: 2px solid #4f4f4f; line-height: 43px; color: #707070; text-align: center; font-size: 22px;}
.progress_box .item.active {background: #4f4f4f; color: #fff; border-color: #707070;}
.progress_box .item.done {background: #4f4f4f; color: #717171; border-color: #4f4f4f;}

.loading_circle {width:38px; position: relative; padding: 10px 0; margin: 0 0 0 187px; display: none;}
.loading_circle_item {background-color:#00304c; float:left; height:8px; margin-left:4px; width:8px; -webkit-animation-name:loading_circle; -webkit-border-radius:5px; -webkit-animation-duration:1.65s; -webkit-animation-iteration-count:infinite; -webkit-animation-direction:linear; -moz-animation-name:loading_circle; -moz-border-radius:5px; -moz-animation-duration:1.65s; -moz-animation-iteration-count:infinite; -moz-animation-direction:linear; opacity:0.3; -o-animation-name:loading_circle; border-radius:5px; -o-animation-duration:1.65s; -o-animation-iteration-count:infinite; -o-animation-direction:linear; -ms-animation-name:loading_circle; -ms-animation-duration:1.65s; -ms-animation-iteration-count:infinite; -ms-animation-direction:linear; opacity:0.3}
.loading_circle_item.item_ie {display: none !important;}
.loading_circle_item.item_1{ -webkit-animation-delay:0.33s; -moz-animation-delay:0.33s; -o-animation-delay:0.33s; -ms-animation-delay:0.33s;}
.loading_circle_item.item_2{-webkit-animation-delay:0.77s; -moz-animation-delay:0.77s; -o-animation-delay:0.77s; -ms-animation-delay:0.77s;}
.loading_circle_item.item_3{-webkit-animation-delay:0.99s; -moz-animation-delay:0.99s; -o-animation-delay:0.99s; -ms-animation-delay:0.99s;}
@-webkit-keyframes loading_circle{0%{opacity:0.3}50%{opacity:1;background-color:#277ba0}100%{opacity:0.3}}
@-moz-keyframes loading_circle{0%{opacity:0.3}50%{opacity:1;background-color:#277ba0}100%{opacity:0.3}}
@-o-keyframes loading_circle{0%{opacity:0.3}50%{opacity:1;background-color:#277ba0}100%{opacity:0.3}}
@-ms-keyframes loading_circle{0%{opacity:0.3}50%{opacity:1;background-color:#277ba0}100%{opacity:0.3}}

#avatar-form {border: 1px solid #cfcfcf; background: #fff; padding: 20px; position: relative;}
#avatar-form .buttons_box {margin: 15px 0 0 0;}
#avatar-form .buttons_box .button {float: left; margin: 0 5px 0 0; height: 40px; line-height: 40px;}
#avatar-form input[type="file"] {cursor: pointer;}
#avatar-form p.info {padding: 5px 0 0 0;}
#avatar-form:after, #avatar-form:before {bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
#avatar-form:after {border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 7px; left: 45px; margin-left: -7px;}
#avatar-form:before {border-color: rgba(207, 207, 207, 0); border-bottom-color: #cfcfcf; border-width: 8px; left: 45px; margin-left: -8px;<strong></strong>}

.error_bar, #flash_msg {width: 100%; height: 50px; line-height: 50px; background-color: #f9cf73; font-size: 15px; text-transform: uppercase; color: #785c15; cursor: pointer; text-shadow: 0 1px 0 rgba(255,255,255,.4); background-image: -moz-linear-gradient(bottom, #f3c95f 0%, #ffed86 100%); background-image: -o-linear-gradient(90deg, #f3c95f 0%, #ffed86 100%); background-image: -webkit-linear-gradient(90deg, #f3c95f 0%, #ffed86 100%); background-image: linear-gradient(90deg, #f3c95f 0%, #ffed86 100%); position: relative; z-index: 10; text-align: center;}

.program_table {width: 900px; font-size: 14px; position: relative; margin: 20px auto 60px auto; color: #fff; background: #2b2b2b;}
.program_table th, .program_table td {border: solid #636363; padding: 0 20px; line-height: 46px;}
.program_table th {text-align: left; vertical-align: top; border-width: 0 1px 2px 2px; width: 160px;}
.program_table td a.link {color: #4fbff9; font-weight: bold; float: right;}
.program_table td a img {display: inline; vertical-align: middle;}
.program_table td {border-width: 0px 2px 2px 0;}
.program_table td .field {color: #4fbff9;}
.program_table tr:first-child td {border-width: 2px 2px 2px 0;}
.program_table tr:first-child th {border-width: 2px 1px 2px 2px;}
.program_table tr:first-child th:first-child {-moz-border-radius-topleft:20px; -webkit-border-top-left-radius:20px; border-top-left-radius:20px;}
.program_table tr:first-child td:last-child {-moz-border-radius-topright:20px; -webkit-border-top-right-radius:20px; border-top-right-radius:20px;}
.program_table tr:last-child th:first-child {-moz-border-radius-bottomleft:20px; -webkit-border-bottom-left-radius:20px; border-bottom-left-radius:20px;}
.program_table tr:last-child td:last-child, .program_table tr:last-child th:last-child {-moz-border-radius-bottomright:20px; -webkit-border-bottom-right-radius:20px; border-bottom-right-radius:20px;}
.program_table tr.blue th, .program_table tr.blue td {background-color: #043d5e;}
.program_table tr:hover td, .program_table tr:hover th {background: #ff5a44; border-color: #f23d26;}
.program_table tr:hover th a {color: #fff;}
.program_table tr:hover td .field {color: #fac2ba;}
.program_table td:last-child {width: 180px;}

.gallery_full {width: 925px; float: none; clear: both; overflow: hidden; margin: 0 0 0 25px;}
.gallery_full a {float: left; background: #1673a8; padding: 4px; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; margin: 0 25px 15px 0;}
.gallery_full a:hover {background: #65acd4;}
.gallery_full img {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; overflow: hidden;}

.p_info {background: url('../images/p_info.png') no-repeat left 0; padding-left: 30px; font-style: italic;}

.explanation {width: 700px; color: #FFF; margin: 10px auto 0;}
.info {width: 700px; color: #FFF; font-size: 13px; text-align: center; margin: 30px auto -30px;}

.vote-link {height: 30px; display: inline-block; line-height: 30px; text-decoration: none; padding: 0 15px 0 36px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background: #fff url('../images/vote-link.png') no-repeat 12px center; color: #000; font-size: 14px;}
.vote-link:hover {color: #ff4f3c;}
.vote-count {display: inline-block; height: 30px; line-height: 30px; padding: 0 0 0 10px; color: #a8a8a8;}
.program_table tr:hover .vote-count {color: #fff;}
.vote-link.disabled {color: #98a2aa; background-image: url('../images/vote-link_2.png');}

#noie6-wrapper {background-color: #333; height: 100%; left: 0; opacity: 0.95; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95); position: absolute; text-align: center; top: 0; width: 100%; z-index: 9999;}
#trick {float: left; height: 40%; margin-top: -100px; visibility: hidden; width: 100%;}
#noie6 {height: 200px; top: -100px;}
#noie6 .title {color: #f26522; font-family: "Lucida Grande",Arial,sans-serif; font-weight: normal; font-size: 36px; line-height: 54px; padding: 0 0 18px;}
#noie6 ul {display: inline; list-style-type: none; margin: 0px; overflow: hidden; padding: 0px; width: 100%;}
#noie6 ul li {display: inline; margin: 20px;}
#noie6 ul li img {display: inline; border: 0;}

#ie6 {overflow: hidden;}

#ie7 .header_img, 
#ie8 .header_img {background: url('../images/header_img_old.jpg') repeat-x top left;}
#ie7 .top_bar .a_login:hover, #ie7 .header .button_box .button:hover, #ie7 .a_button:hover,
#ie8 .top_bar .a_login:hover, #ie8 .header .button_box .button:hover, #ie8 .a_button:hover,
#ie9 .top_bar .a_login:hover, #ie9 .header .button_box .button:hover, #ie9 .a_button:hover {background: #ff443a;}
#ie7 .header_content, #ie8 .header_content {background: url('../images/header_odd.png') no-repeat center 273px;}
#ie7 .footer .button {display: block; float: left;}
#ie7 .footer .button.twitter {background-position: 15px 17px;}
#ie7 .footer .button.facebook {background-position: 20px 15px;}
#ie7 .header .button_box,
#ie8 .header .button_box,
#ie9 .header .button_box {background: #b1251d;}
#ie7 .input_box {background: none;}
#ie7 .login_form .submit_button, #ie8 .login_form .submit_button, #ie7 .admin_form .submit_button, #ie7 .red_button, #ie8 .admin_form .submit_button, #ie8 .red_button,
#ie9 .login_form .submit_button {background: #ff3d33;}
#ie7 .login_form .submit_button:hover, #ie8 .login_form .submit_button:hover, #ie7 .admin_form .submit_button:hover, #ie7 .red_button:hover, #ie8 .admin_form .submit_button:hover, #ie8 .red_button:hover,
#ie9 .login_form .submit_button:hover {background: #f95838;}
#ie7 .login_form .forgotten_password {top: 15px;}
#ie7 .progress_box {display: block; width: 157px; float: none; clear: both; overflow: hidden;}
#ie7 .progress_box .item {display: block; float: left; margin: 0 5px 0 0;}
#ie7 .loading_circle_item, #ie8 .loading_circle_item, #ie9 .loading_circle_item {display: none;}
#ie7 .loading_circle_item.item_ie, #ie8 .loading_circle_item.item_ie, #ie9 .loading_circle_item.item_ie {display: block !important; text-align: center; color: #fff;}
#ie7 .loading_circle, #ie8 .loading_circle, #ie9 .loading_circle {width: 200px;}
#ie7 .top_admin_bar .a_logout, #ie8 .top_admin_bar .a_logout {background: #c43e37;}
#ie7 .top_admin_bar .a_logout:hover, #ie8 .top_admin_bar .a_logout:hover {background: #91241e;}
#ie7 .admin_user_box .avatar_box .a_upload, #ie8 .admin_user_box .avatar_box .a_upload {background: #000;}
#ie7 .admin_form input[type="text"], #ie8 .admin_form input[type="text"] {line-height: 44px;}
#ie7 .login_box .button_box .button.facebook:hover, #ie8 .login_box .button_box .button.facebook:hover {background-color: #264988;}
#ie7 .login_box .button_box .button.twitter:hover, #ie8 .login_box .button_box .button.twitter:hover {background-color: #005f8e;}

/* iPhone 4  */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

.footer_404 a {font-size: 40px;}

}

/* alert */
.alert {padding: 8px 35px 8px 14px; margin-bottom: 20px; color: #c09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.alert-error {color: #b94a48; background-color: #f2dede; border-color: #eed3d7;}
.alert-success {color: #468847; background-color: #dff0d8; border-color: #d6e9c6;}

/* modal */
.modal_overlay .modal_wrapper .modal_content {-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.modal_overlay .modal_wrapper .modal_content .modal_top {background: #e4edf6; background: -moz-linear-gradient(top, #e4edf6 0%, #c9dbec 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4edf6), color-stop(100%,#c9dbec)); background: -webkit-linear-gradient(top, #e4edf6 0%,#c9dbec 100%); background: -o-linear-gradient(top, #e4edf6 0%,#c9dbec 100%); background: -ms-linear-gradient(top, #e4edf6 0%,#c9dbec 100%); background: linear-gradient(top, #e4edf6 0%,#c9dbec 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4edf6', endColorstr='#c9dbec',GradientType=0 );}
.modal_overlay {position: fixed; width: 100%; height: 100%; background: transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#121a21,endColorstr=#121a21)"; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#121a21,endColorstr=#121a21); background: rgba(18, 26, 33, 0.85); top: 0; left: 0; z-index: 100; display: table;}
  .modal_overlay .modal_wrapper {display: table-cell; width: 100%; height: 100%;}
    .modal_overlay .modal_wrapper .modal_content {margin: 0 auto; position: relative; padding:5px; background: rgba(18, 26, 33, 0.5);}
      .modal_overlay .modal_wrapper .modal_content .modal_top {height:59px; line-height:60px; border-bottom: 1px solid #b0cde4; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px; padding:0 21px;}
      .modal_overlay .modal_wrapper .modal_content.modal_loading {background:#fff url(../images/loading.gif) center center no-repeat; width: 100px; height: 100px;}
      .modal_overlay .modal_wrapper .modal_content.modal_loading .modal_top, .modal_overlay .modal_wrapper .modal_content.modal_loading .modal_body, .modal_overlay .modal_wrapper .modal_content.modal_loading .modal_bottom {display:none;}
      .modal_overlay .modal_wrapper .modal_content .modal_top .title {color:#2371af; font-weight:normal; text-transform:uppercase; font-size:1.59em; line-height:66px; display:block; float:left;}
      .modal_overlay .modal_wrapper .modal_content .modal_top a.close {width:16px; height:17px; display:block; float:right; background:url(../images/modal_close.png) no-repeat 0 0; margin:23px 0 0 0;}
      .modal_overlay .modal_wrapper .modal_content .modal_top a.close:hover {background-position:0 -17px;}
      .modal_overlay .modal_wrapper .modal_content .modal_body {background:#fff; padding:21px;}
      .modal_overlay .modal_wrapper .modal_content .modal_bottom {background:#f6f6f6; border-top:1px solid #e1e1e1; -moz-border-radius-topleft: 0px; -moz-border-radius-topright: 0px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-radius: 0px 0px 4px 4px; border-radius: 0px 0px 4px 4px; padding:12px;}
      .modal_overlay .modal_wrapper .modal_content .modal_bottom .buttons_box {margin:0;}
      .modal_overlay .modal_wrapper .modal_content .modal_bottom .buttons_box .button {float:right;}
      .modal_overlay .modal_wrapper .modal_content .modal_bottom.bottom_close {background:#fff; border:0; height:5px; padding: 0;}
      .modal_overlay .modal_wrapper .modal_content .form {margin:0;}
      .modal_overlay .modal_wrapper .modal_content .form label {width:130px;}
      .modal_overlay .modal_wrapper .modal_content .form .buttons_box {margin-left:0;}

.buttons_box {overflow: hidden;}

#program * {
	color:#fff;
	font-size: 110%;
	line-height: 1.6;
}
#program {
    margin: 0 30px;
}
#program ul {
	margin-left:20px;
}
#program h3 {
	font-size: 180%;
	margin:15px 0;
}
#program h2 {
	  line-height: 26px;
	  font-size: 22px;
	  text-align: left;
	  margin:15px 0;
}
#program p {
	margin:15px 0;
}
@media only screen and (max-width: 700px) {
#page {
	width:100%;
	min-width:auto;
}
.top_bar {
	display: none;
}
.header {
	height:520px;
	min-width:auto;
	
}
.header_content {
	background:none;
	height:200px;
}
.center_page {
	width:100%;
}
.site_name {line-height: 50px; text-align: center; margin: 0; background: none; padding: 30px 0; font-size: 50px;
}
.header_img {
	display: none;
} 
.program_table {
	width:100%;	
}
.program_table th {
	width:auto;
}
#members {
	display: none;
}
.sponzors_content {
	width:100%;
}
.lecturer_box {
	padding:0 15px;
}

.gallery_full {
	width: auto;}

.header_info {
	margin: 0 0 30px 0; 
	width: 100%; 
	text-align: center;}
	
.header_info li {
	float: none; 
	width: 100% !important; 
	text-align: center; 
	margin-bottom: 20px !important;}
	
.header .button_box {
	margin: 0px auto;}

.login_box .button_box {margin: 20px 0 0 28px;}

.login_box {background: none;}

.program_table th, .program_table td {
	line-height: 26px;
}

.login_box .content_right {
	text-align: center;
}

.vote-link {
	margin: 7px 0 0 0;
}

.login_box .content_left, .login_box .content_right {float: none; margin: 0 auto; position: relative;}

.login_box .button_box {
	margin: 0 auto; position: relative; display: block; width: 400px; background: none; text-align: center;
}

.login_form .input_box {
	margin: 0 auto; position: relative; display: block; width: 270px; background: none; text-align: center;
}
}



@media only screen and (max-width: 465px) {

.header {
	height:700px; 
	min-width:auto;}

}

/* iPhone 4  */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

.header {
	height:500px;}
	
.gallery_full {
	width: 900px;}

}

}