{% extends "admin/_base.html" %}
{% block title %}{% if page.uri %}Editace {{page.title}}{% else %}Vytvoření stránky{% endif %}{% endblock %}
{% block header %}{% if page.uri %}Editace {{page.title}}{% else %}Vytvoření stránky{% endif %}{% endblock %}
{% block body %}
<form method="POST" class="form-horizontal" action=".">
    <fieldset>
        {{form.csrf_token}}
        {{forms.input(form.title)}}
        {{forms.input(form.uri)}}
        {{forms.textarea(form.body, rows=45, monospace=True)}}
    </fiedlset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Odeslat</button>
        {% if page.uri %}
            <a class="btn btn-danger" href="{{url_for('admin.page_delete', uri=page.uri)}}" onclick="return confirm('Odstranění nelze vrátit, opravdu chcete stránku smazat?')">Smazat stránku</a>
        {% endif %}
    </div>
</form>
{% endblock %}