{% macro format_talk_td(hash) -%}
{% if hash %}
    {% if is_tuple(hash) %}
        <td style="text-align: center">
            {% for h in hash %}
                {{ display_talk_inner(h)}}
            {% endfor %}
        </td>
    {% else %}
        <td style="text-align: center"><p>
            <strong>Lightning talks</strong><br />
            <small>{{talk_category(hash.category)}}</small><br />
            <small><a href="{{url_for('static_page', page='obsah')}}">až 9 témat à 5 minut </a></small>
        </p></td>
    {% endif %}
{% else %}
<td style="vertical-align: middle; text-align: center;"></td>
{% endif %}
{%- endmacro %}

{% macro display_talk_inner(hash) -%}
{% if hash in talks %}
<p>
    <strong>{{talks[hash].speakers_name}}</strong><br />
    <small>{{talk_category(talks[hash].category)}}</small><br />
    <small><a href="{{url_for('talk_detail', talk_hash=hash)}}">{{talks[hash].title|truncate(64)}}</a></small>
</p>
{% endif %}
{%- endmacro %}

<h2>Program přednášek na Barcampu</h2>
<h3>Sobota 5.10.2019</h3>
<ul>
    <!-- <li><a href="{{url_for('co_program')}}">Bohatý doprovodný program</a></li> -->
    <li><a href="{{url_for('static_page', page='charita')}}">Dobročinná sbírka</a></li>
    <li><a href="{{url_for('static_page', page='kral-barcampu')}}">Soutěž o Krále Barcampu Brno</a></li>
</ul>
<table class="table table-condensed">
<tr>
    <th></th>
    <th style="text-align: center"><br />Kino Scala</th>
    <th style="text-align: center">Barokní sál<br /><em>přízemí</em></th>
    <th style="text-align: center">Techický sál<br /><em>1. patro</em></th>
    <th style="text-align: center">Vznešený sál<br /><em>Scala Bar</em></th>
</tr>
<tr>
    <th><a href="{{url_for('static_page', page='moderatori')}}">Moderují<a/></th>
    <th style="text-align: center">Lenka Urban<br />David Homolka</th>
    <th style="text-align: center">Evža Kobzeva<br />Vít Skalický</th>
    <th style="text-align: center">Dagmar Vilémová<br />Juraj Melo</th>
    <th style="text-align: center">Ondřej Minář<br />Daniel Bednář</th>
</tr>
{% for t in times %}
<tr class="{{'success' if not t.data.items}}">
    <th>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</th>
    {% if t.data.items %}
        {{format_talk_td(t.data.scala)}}
        {{format_talk_td(t.data.baroko)}}
        {{format_talk_td(t.data.it)}}
        {{format_talk_td(t.data.partners)}}
    {% else %}
        <td colspan="6" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% endif %}
</tr>
{% endfor %}
</table>
