{% macro format_workshop_td(hash) -%}
{% if hash %}
    {% set workshop = workshops[hash]%}
    <td 
        style="text-align: center;" 
        {% if workshop.minutes > 60 %}rowspan="2"{% endif %}>
        <p>
            <strong>{{workshop.user.name}}</strong><br />
            {{workshop.minutes}} minut &mdash; {{workshop.max_count}} míst<br />
            <small><a href="{{url_for('workshop_detail', workshop_hash=hash)}}">{{workshop.title}}</a></small>
        </p>
    </td>
{% endif %}
{%- endmacro %}

<h2>Program workshopů na Barcampu</h2>
<h3>Sobota 2.6.2018</h3>
<ul>
    <li><a href="{{url_for('co_program')}}">Bohatý doprovodný program</a></li>
    <li><a href="{{url_for('static_page', page='charita')}}">Dobročinná sbírka</a></li>
    <li><a href="{{url_for('static_page', page='kral-barcampu')}}">Soutěž o Krále Barcampu Brno</a></li>
{#     
    <li></li>
    <li><a href="http://play.google.com/store/apps/details?id=eu.touchart.barcamp">Aplikace Barcamp Brno pro Android</a></li>
    <li><a href="https://itunes.apple.com/us/app/barcamp-brno/id981443541?ls=1&amp;mt=8">Aplikace Barcamp Brno pro iOS</a></li>
 #}
</ul>
<table class="table table-condensed">
<tr>
    <th></th>
    <th style="text-align: center">Pracovní sál 1</th>
    <th style="text-align: center">Pracovní sál 2</th>
</tr>
{% for t in times %}
<tr class="{{'success' if not t.data.items}}">
    <th>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</th>
    {% if t.data.items %}
        {{format_workshop_td(t.data.workshop1)}}
        {{format_workshop_td(t.data.workshop2)}}
    {% else %}
        <td colspan="3" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% endif %}
</tr>
{% endfor %}
</table>