{% macro format_workshop_td(hash, limit) -%}
{% if hash %}
    {% if hash == 'placeholder' %}
      <td></td>
    {% else %}
      {% set workshop = workshops[hash]%}
      <td
          style="text-align: center;"
          {% if workshop.minutes > 60 %}rowspan="2"{% endif %}>
          <p>
              <strong>{{workshop.speakers_name}}</strong><br />
              {{workshop.minutes}} minut &mdash; {{[workshop.max_count, limit]|sort|first}} míst<br />
              <small><a href="{{url_for('workshop_detail', workshop_hash=hash)}}">{{workshop.title}}</a></small>
          </p>
      </td>
    {% endif %}
{% endif %}
{%- endmacro %}

<h2>Program workshopů na Barcampu</h2>
<h3>Sobota 5.10.2019</h3>
<ul>
    <li><a href="{{url_for('co_program')}}">Bohatý doprovodný program</a></li>
    <li><a href="{{url_for('static_page', page='charita')}}">Dobročinná sbírka</a></li>
    <li><a href="{{url_for('static_page', page='kral-barcampu')}}">Soutěž o Krále Barcampu Brno</a></li>
</ul>
<table class="table table-condensed">
<tr>
    <th></th>
    <th style="text-align: center" colspan="2">Místnosti na adrese Veselá 164/14</th>
</tr>
<tr>
    <th></th>
    <th style="text-align: center">Menší</th>
    <th style="text-align: center">Větší</th>
</tr>
{% for t in times %}
<tr class="{{'success' if not t.data.items}}">
    <th>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</th>
    {% if t.data.items %}
        {{format_workshop_td(t.data.workshop1, 15)}}
        {{format_workshop_td(t.data.workshop2, 50)}}
    {% else %}
        <td colspan="3" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% endif %}
</tr>
{% endfor %}
</table>
