{% extends "_base.html" %}
{% block body %}
<div id="page-header" class="detail {{page_style or ''}}">
    <div class="wrapper">
        <h1><a href="{{url_for('index')}}">Barcamp Brno 2013</a></h1>
        {% include 'menu.html' %}
        <div class="clearer"></div>
    </div>
</div>
<div id="hp-content" class="detail {{page_style or ''}}">
    <div class="wrapper">
        <div class="content">
            {% block page_content %}{% endblock %}
        </div>
    </div>
</div>
<!-- pata -->
<div id="footer" class="detail {{page_style or ''}}">
    <div class="wrapper">
        <div>
            &copy; Barcamp Brno {{config.YEAR}} &mdash; <a href="{{url_for('static_page', page='kontakty')}}">Kontakty</a>
        </div>
    </div>
</div> 
{% endblock %}
