<!doctype html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Barcamp Brno {{config.YEAR}}{% endblock %}</title> 
        <meta name="author" content="Barcamp Brno {{config.YEAR}}" />
        <link rel="shortcut icon" href="{{"/" + config.YEAR if config.ARCHIVE}}/static/favicon.ico" />

        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="Barcamp Brno {{config.YEAR}}" />
        <meta name="keywords" content="Barcamp Brno {{config.YEAR}}" />

        <link href="{{"/" + config.YEAR if config.ARCHIVE}}/static/css/main.css?2017-04-02" rel="stylesheet" type="text/css" media="screen" id="main_css" />


        <script src="{{"/" + config.YEAR if config.ARCHIVE}}/static/components/jquery/dist/jquery.min.js"></script>
        <script src="{{"/" + config.YEAR if config.ARCHIVE}}/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="http://api4.mapy.cz/loader.js"></script>
        <script src="{{"/" + config.YEAR if config.ARCHIVE}}/static/components/jquery/dist/jquery.min.js"></script>

        <script src="//code.optimcore.com/185649.js"></script>
        
        <script>Loader.load();</script>
        {% block meta %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'menu.html' %}
        </div>
        <div class="spacer"></div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="bar bar-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}

            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-25528595-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            <!-- /pata -->
        </div>
    </body>
</html>