{% extends "_base_page.html" %}
{%- macro input(field, type="text") %}
<div class="form-group {{ error_class(field) }}">
    <label class="control-label col-sm-2" for="{{field.id}}">{{field.label.text}}</label>
    <div class="col-sm-10">
        <input
            type="{{type}}"
            id="{{field.id}}"
            class="form-control"
            name="{{field.name}}"
            placeholder="{{field.label.text}}"
            value="{{field.data or ''}}"
        >
        {{ error(field) }}
    </div>
</div>
{% endmacro -%}

{%- macro textarea(field) %}
<div class="form-group {{ error_class(field) }}">
    <label class="control-label col-sm-2" for="{{field.id}}">{{field.label.text}}</label>
    <div class="col-sm-10">
        <textarea
            rows="7"
            id="{{field.id}}"
            class="form-control"
            name="{{field.name}}"
            placeholder="{{field.label.text}}"
        >{{field.data or ''}}</textarea>
        {{ error(field) }}
    </div>
</div>
{% endmacro -%}
{% macro radiobox(field) -%}
<div class="form-group {{ error_class(field) }}">
    <label class="control-label col-sm-2"">{{field.label.text}}</label>
    <div class="col-sm-10">
        {% for option in field %}
            <div class="radio">
                <label>
                    <input type="radio" name="{{field.name}}" value="{{option.data}}" id="{{option.id}}" {{'checked="checked"' if field.data == option.data}} >
                    {{option.label}}
                </label>
            </div>
        {% endfor %}
        {{ error(field) }}
    </div>
</div>
{% endmacro -%}
{% macro checkbox(field) -%}
<div class="form-group {{ error_class(field) }}">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label>
                <input
                    type="checkbox"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    placeholder="{{field.label.text}}"
                    {{'checked="checked"' if field.data}}
                >
                {{field.label.text}}
            </label>
            {{ error(field) }}
        </div>
    </div>
</div>
{% endmacro -%}

{% macro step_box(number) -%}
<!--div class="progress_box">
    <div class="{{'active' if number==1}} {{'done' if number > 1}}">1.</div>
    <div class="{{'active' if number==2}} {{'done' if number > 2}}">2.</div>
    <div class="{{'active' if number==3}} {{'done' if number > 3}}">3.</div>
</div-->
{%- endmacro %}

{%- macro error(field) %}
{% if field.errors %}
    <span class="help-block">{% for error in field.errors %}{{error}}{% endfor %}</span>
{% endif %}
{% endmacro -%}

{%- macro error_class(field) %}
{{'has-error' if field.errors}}
{% endmacro -%}