<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Barcamp Ostrava 2013{% endblock %}</title> 
        <meta name="author" content="Barcamp Ostrava 2013" />
        <link rel="shortcut icon" href="/static/favicon.ico" />

        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="Barcamp Ostrava 2013" />
        <meta name="keywords" content="Barcamp Ostrava 2013" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="screen" />

        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    
        <script src="http://api4.mapy.cz/loader.js"></script>
        <script src="http://api4.mapy.cz/loader.js"></script>

        <script>Loader.load()</script>
    </head>
    <body>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-warning alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                     {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}






        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32784952-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <!-- /pata -->
    </div>
</body>
</html>
