{% extends "_base.html"%}
{% block body %}
<div id="hp-header">
	<div class="container">
		<div class="invitation">
			<div class="jumbotron">
				<h1>4. června</h1>
				<p>Božetěchova 2, Brno</p>
				<p><a class="btn btn-danger btn-lg" href="http://mapy.cz/s/6ZKC" role="button">Kde to kruci je?</a></p>
			</div>
		</div>
	</div>

</div> <!-- hp-head-->
{% block content %}
{% endblock %}
<div class="clearer"></div>
<div class="container-fluid">
    <!-- pata -->
    <div id="footer">
        <div class="wrapper">
            <div>
                &copy; Barcamp Brno {{config.YEAR}} &mdash; <a href="{{url_for('static_page', page='kontakty')}}">Kontakty</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}