<!-- horni lista -->
    <div class="top_admin_bar">
        <div class="center_page">
            <div class="content_left">
                <h1 class="logo_site"><a href="/">Barcamp Brno</a></h1>
            </div>
            <div class="content_right">
                <a href="/" class="a_home">Zpět na úvod</a>
                {% if user %}
                <a href="{{ url_for('login_settings') }}" class="a_logout">Profil</a>
                <a href="{{ url_for('logout') }}" class="a_logout">Odhlásit se</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="a_logout">Přihlásit se</a>
                {% endif %}
            </div>
        </div>
    </div>
<!-- /horni lista -->