{% macro format_talk_td(hash) -%}
{% if hash %}
<td style="text-align: center">
    <p>
        <strong>{{talks[hash].user.name}}</strong><br />
        <small><a href="{{url_for('talk_detail', talk_hash=hash)}}">{{talks[hash].title|truncate(64)}}</a></small>
    </p>
</td>
{% else %}
<td style="vertical-align: middle; text-align: center;"></td>
{% endif %}
{%- endmacro %}

{% macro format_workshop_td(workshop) -%}
{% if workshop.user %}
<td 
    style="text-align: center; {% if workshop.rows > 1%}vertical-align: middle{% endif %}" 
    {% if workshop.rows %}rowspan="{{workshop.rows}}"{% endif %}>
    <p>
        <strong>{{workshop.user}}</strong><br />
        <small><a href="{{url_for('static_page', page='workshopy')}}">{{workshop.title}}</a></small>
    </p>
</td>
{% endif %}
{%- endmacro %}

<h2>Program Barcampu</h2>
<h3>Sobota 23.5.2015</h3>
<ul>
    <li><a href="{{url_for('static_page', page='doprovodny-program')}}">Bohatý doprovodný program</a></li>
        <li><a href="{{url_for('static_page', page='charita')}}">Dobročinná sbírka</a></li>
</ul>
<table class="table table-condensed">
<tr>
    <th></th>
    <th style="text-align: center">D105</th>
    <th style="text-align: center">E112</th>
    <th style="text-align: center">D0206</th>
    <th style="text-align: center">D0207</th>
    <th style="text-align: center">E104</th>
    <th style="text-align: center">E105</th>
    <th style="text-align: center">A112</th>
    <th style="text-align: center">A113</th>
</tr>
<tr>
    <th>Moderuje</th>
    <th style="text-align: center">Jan Řehák</th>
    <th style="text-align: center">Šimon Berka</th>
    <th style="text-align: center">Richard Kunovský a Jan Mondek</th>
    <th style="text-align: center">Jan Markel a Michal Španěl</th>
    <th style="text-align: center">Pavla Doláková</th>
    <th style="text-align: center">Jiří Kaláček</th>
    <th style="text-align: center" colspan="2">WORKSHOPY</th>
</tr>
{% for t in times %}
<tr class="{{'success' if not t.data.items}}">
    <th>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</th>
    {% if t.data.items %}
        {{format_talk_td(t.data.d105)}}
        {{format_talk_td(t.data.e112)}}
        {{format_talk_td(t.data.d0206)}}
        {{format_talk_td(t.data.d0207)}}
        {{format_talk_td(t.data.e104)}}
        {{format_talk_td(t.data.e105)}}
        {{format_workshop_td(t.data.a112)}}
        {{format_workshop_td(t.data.a113)}}
    {% elif t.data == "Oběd" %}
        <td colspan="6" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% else %}
        <td colspan="8" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% endif %}
</tr>
{% endfor %}
</table>