{% macro format_talk_td(hash) -%}
{% if hash %}
<td style="text-align: center">
    <p>
        <strong>{{talks[hash].user.name}}</strong><br />
        <small><a href="{{url_for('talk_detail', talk_hash=hash)}}">{{talks[hash].title|truncate(64)}}</a></small>
    </p>
</td>
{% else %}
<td style="vertical-align: middle; text-align: center;"></td>
{% endif %}
{%- endmacro %}

{% macro format_workshop_td(workshop) -%}
{% if workshop.user %}
<td 
    style="text-align: center;" 
    {% if workshop.rows %}rowspan="{{workshop.rows}}"{% endif %}>
    <p>
        <strong>{{workshop.user}}</strong><br />
        <small><a href="{{url_for('static_page', page='workshopy')}}#{{workshop.anchor}}">{{workshop.title}}</a></small>
    </p>
</td>
{% endif %}
{%- endmacro %}

<h2>Program Barcampu</h2>
<h3>Sobota 4.6.2016</h3>
<ul>
    <li><a href="{{url_for('co_program')}}">Bohatý doprovodný program</a></li>
    <li><a href="{{url_for('static_page', page='charita')}}">Dobročinná sbírka</a></li>
    <li><a href="{{url_for('static_page', page='kral-barcampu')}}">Soutěž o Pevnost Barcampu Brno</a></li>
{#     
    <li></li>
    <li><a href="http://play.google.com/store/apps/details?id=eu.touchart.barcamp">Aplikace Barcamp Brno pro Android</a></li>
    <li><a href="https://itunes.apple.com/us/app/barcamp-brno/id981443541?ls=1&amp;mt=8">Aplikace Barcamp Brno pro iOS</a></li>
 #}
</ul>
<table class="table table-condensed">
<tr>
    <th></th>
    <th style="text-align: center">D105</th>
    <th style="text-align: center">E112</th>
    <th style="text-align: center">D0206</th>
    <th style="text-align: center">D0207</th>
    <th style="text-align: center">E104</th>
    <th style="text-align: center">E105</th>
    <th style="text-align: center">A112</th>
    <th style="text-align: center">A113</th>
    <th style="text-align: center">C228</th>
</tr>
<tr>
    <th>Moderuje</th>
    <th style="text-align: center">Jan Mondek<br />Vítek Skalický</th>
    <th style="text-align: center">Michal Španěl<br />Pavla Doláková</th>
    <th style="text-align: center">Jan Řehák<br />Eva Voretová</th>
    <th style="text-align: center">Evža Kobzeva</th>
    <th style="text-align: center">Petr Kotas<br />Lenka Trandová</th>
    <th style="text-align: center">Tomáš Liszka<br />Eva Bližňáková</th>
    <th style="text-align: center" colspan="3"><a href="{{url_for('workshops_all')}}">Workshopy</a></th>
</tr>
{% for t in times %}
<tr class="{{'success' if not t.data.items}}">
    <th>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</th>
    {% if t.data.items %}
        {{format_talk_td(t.data.d105)}}
        {{format_talk_td(t.data.e112)}}
        {{format_talk_td(t.data.d0206)}}
        {{format_talk_td(t.data.d0207)}}
        {{format_talk_td(t.data.e104)}}
        {{format_talk_td(t.data.e105)}}
{#         {{format_workshop_td(t.data.a112)}}
        {{format_workshop_td(t.data.a113)}}
        {{format_workshop_td(t.data.c228)}} #}
    {% else %}
        <td colspan="9n" style="text-align: center; vertical-align: middle">{{t.data}}</td>
    {% endif %}
</tr>
{% endfor %}
</table>