<h2>Hlavní partneři</h2>
<div class="row">
{% for sponsor in sponsors.main %}
    <div class="sponsor-logo col-md-4 col-sm-6">{{sponsors_data(sponsor, 'logo')}}</div>
{% endfor %}
</div>
<h3>Partneři akce</h3>
<div class="row">
{% for sponsor in sponsors.regular %}
    <div class="sponsor-logo col-md-3 col-sm-4">{{sponsors_data(sponsor, 'logo')}}</div>
{% endfor %}
</div>
<h3>Mediální partneři</h3>
<div class="row">
{% for sponsor in sponsors.medial %}
    <div class="sponsor-logo col-md-3 col-sm-4">{{sponsors_data(sponsor, 'logo')}}</div>
{% endfor %}
</div>