{% set page_style="aktualne" %}
{% set prev_date=None%}
{% extends "_base_page.html" %}
{% block title %}Harmonogram{% endblock %}
{% block page_content %}
{% if news %}
    <h2>Mimořádně</h2>
    {% for new in news %}
    {% endfor %}
{% endif %}
{% if times %}
    {% for t in times %}
        {% if prev_date != t['date'] %}
            <h2>{{t['date'].strftime('%d.%m.%Y')}}</h2>
            {% set prev_date=t.date%}
        {% endif %}
        <h3>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</h3>
        {% if t.data.items %}
            <ul>
                <li>D105:{{format_talk_a(t.data.d105)}}</li>
                <li>E112:{{format_talk_a(t.data.e112)}}</li>
                <li>D0206:{{format_talk_a(t.data.d0206)}}</li>
                <li>D0207:{{format_talk_a(t.data.d0207)}}</li>
                <li>E104:{{format_talk_a(t.data.e104)}}</li>
                <li>E105:{{format_talk_a(t.data.e105)}}</li>
                <br />
                <li>A112:{{format_workshop_a(t.data.a112)}}</li>
                <li>A113:{{format_workshop_a(t.data.a113)}}</li>
                <li>C228:{{format_workshop_a(t.data.c228)}}</li>
            </ul>
        {% else %}
            <p><strong>{{t.data}}</strong></p>
        {% endif %}
    {% endfor %}
{% else %}
    <h2>Už je po všem</h2>
    <p>Doufáme, že jste se bavili. Uvidíme se zase za rok.</p>
    <p>Tým organizátorů Barcampu.</p>
{% endif %}

{% endblock %}
{% macro format_talk_a(hash) -%}
{% if hash and hash in talks %}
    Přednáška: 
    <strong>{{talks[hash].user.name}}</strong>
    <a href="{{url_for('talk_detail', talk_hash=hash)}}">{{talks[hash].title}}</a>
{% else %}
&mdash;
{% endif %}
{%- endmacro %}

{% macro format_workshop_a(hash) -%}
{% if hash %}
    {% set workshop = workshops[hash]%}
    Workshop ({{workshop.minutes}} minut):
    <strong>{{workshop.user.name}}</strong>
    <a href="{{url_for('workshop_detail', workshop_hash=hash)}}">{{workshop.title}}</a>
{% else %}
    Pokračování předchozího workshopu
{% endif %}
{%- endmacro %}
