{% set page_style="aktualne" %}
{% set prev_date=None%}
{% extends "_base_page.html" %}
{% block page_content %}
{% if news %}
    <h2>Mimořádně</h2>
    {% for new in news %}
    {% endfor %}
{% endif %}
{% if times %}
    {% for t in times %}
        {% if prev_date != t['date'] %}
            <h2>{{t['date'].strftime('%d.%m.%Y')}}</h2>
            {% set prev_date=t.date%}
        {% endif %}
        <h3>{{t.block_from.strftime('%H:%M')}}&mdash;{{t.block_to.strftime('%H:%M')}}</h3>
        {% if t.data.items %}
            <ul>
                <li>Superman (D105):{{format_talk_a(t.data.d105)}}</li>
                <li>Batman (E112):{{format_talk_a(t.data.e112)}}</li>
                <li>Wonder Woman (D0206):{{format_talk_a(t.data.d0206)}}</li>
                <li>Flash (D0207):{{format_talk_a(t.data.d0207)}}</li>
                <li>Green Lantern (E104):{{format_talk_a(t.data.e105)}}</li>
            </ul>
        {% else %}
            <p><strong>{{t.data}}</strong></p>
        {% endif %}
    {% endfor %}
{% else %}
    <h2>Už je po všem</h2>
    <p>Doufáme, že jste se bavili. Uvidíme se zase za rok.</p>
    <p>Tým organizátorů Barcampu.</p>
{% endif %}

{% endblock %}
{% macro format_talk_a(hash) -%}
{% if hash %}
    <strong>{{talks[hash].user.name}}</strong>
    <a href="{{url_for('talk_detail', talk_hash=hash)}}">{{talks[hash].title}}</a>
{% else %}
&mdash;
{% endif %}
{%- endmacro %}
