{% extends "_base_page.html"%}
{% block title %}Doprovodný program{% endblock %}
{% block page_content %}

{% set i = [0] %}
<div clas="row">
{% for sponsors_category in ['gold', 'silver', 'medial'] %}
    {% for sponsor in sponsors[sponsors_category] if sponsor.activity_body %}
        {% if i.append(i.pop() + 1) %}{% endif %}
        <div class="partner col-md-6">
            <h2>{{sponsor.title}}</h2>
            <div class="desc">{{ sponsor.activity_body|md }}</div>
        </div>
        {% if i[0] % 2 == 0 %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>

{% endblock %}