{% extends "_base.html"%}
{% block body %}
<div id="hp-header">
    <div class="wrapper">
        <h1>Barcamp Brno {{config.YEAR}}</h1>
        <div class="social">
            <div class="hashtag">
                <a href="https://twitter.com/search?q=%23bcbrno" title="twitter">#bcbrno</a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/bcbrno" title="twitter"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/barcamp.brno" title="facebook"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <h2>23 | 05 | {{config.YEAR}} | Brno</h2>
        <h3><a href="http://mapy.cz/s/6ZKC">VUT FIT, Božetěchova 2</a></h3>
        <div class="clearer" style="height: 40px;"></div>
        {% include "menu.html"%}
        <div class="clearer"></div>
    </div>
</div> <!-- hp-head-->
<div id="hp-content">
    <div class="wrapper">
        {{novinky}}

{% if "PROGRAM_READY" in config.STAGES %}
    {% include '_program.html' %}
{% endif %}

        {% if "USERS" in config.STAGES %}
            <h2>Moje účast</h2>
            {% if user and user['going_%s' % config.YEAR] %}
                <p class="menu center menu-button"><a class="gray" href="{{url_for('attend_remove')}}">
                        <i class="icon-remove icon-white"></i>
                        Už nechci přijít</a>
            {% else %}
                <a name="go"></a>
                <p class="menu center menu-button"><a href="{{url_for('attend_add')}}">
                        <i class="icon-heart icon-white"></i>
                        Chci přijít na Barcamp</a>
            </p><div class="clearer"></div>
            {% endif %}
        {% else %}
            <h2>Kdy budou registrace účastníků?</h2>
            <p></p>
            <p class="menu center menu-button"><a href="{{url_for('static_page', page='informace')}}">
                    <i class="icon-bullhorn icon-white"></i>
                    Registrace účasti začnou 23.4.2015</a>
            </p>
        {% endif %}
        {% if "PROGRAM_READY" not in config.STAGES and "INTRO" not in config.STAGES %}
            <!-- prednasejici -->
            <h2>Přednášející{% if "VOTING" in config.STAGES %} &amp; hlasování{% endif %}</h2>
            
            {% if user and user['going_%s' % config.YEAR] %}    
            <form method="POST" action="{{url_for('vote_save')}}">
            {% endif %}
            {% for data in (extra_talks, talks) %}
                {% if data %}
                    {% if loop.index == 1%}
                        <h3>Barcamp zve <small><a href="{{url_for('static_page', page='barcamp-zve')}}">Co je to?</a></small></h3>
                    {% else %}
                        <h3>Volený program <small>(28 míst)</small></h3>
                    {% endif %}
                    <table class="table" id="talks">
                        {% for talk in data %}
                        <tr class="{{'fail' if loop.index > 28 and 'VOTING_END' in config.STAGES }}">
                            <th>
                                {% if "VOTING_END" in config.STAGES %}
                                <span class="number">{{loop.index}}.</span> {% endif %} 
                                <a href="{{url_for('talk_detail', talk_hash=talk.talk_hash)}}">{{talk.title}}</a>
                            </th>
                            <td class="shadow-name">{{talk.user.name}}</td>
                            {% if "VOTING" in config.STAGES or "VOTING_END" in config.STAGES %}
                                <td>Počet&nbsp;hlasů&nbsp;<strong>{{talk.score or 0|int}}</strong></td>
                            {% endif %}
                            {% if user and user['going_%s' % config.YEAR] and 'VOTING' in config.STAGES %}
                                <td><label><input
                                    type="checkbox"
                                    {{'checked' if talk.talk_hash in user_votes}}
                                    name="{{talk.talk_hash}}"/> 
                                    Chci vidět</label>
                                </td>
                            {% endif %}
                        </tr>
                        {% else %}
                            <div>Zatím zde nic není</div>
                        {% endfor %}
                        {% if user and user['going_%s' % config.YEAR] and "VOTING" in config.STAGES%}
                        <tr>
                            <td colspan="3"></td>
                            <td><input type="submit" id="save-button" value="Uložit hlasy"></td>
                        </tr>
                        {% elif "VOTING" in config.STAGES %}
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <p class="alert alert-danger">Hlasovat mohou jen ti, kteří chtějí přijít. (<a href="#go">přihlášení dole</a>)</p>
                            </td></tr>
                        {% endif %}
                        {% if "VOTING_END" in config.STAGES%}
                        <tr>
                            <td colspan="4">
                                <p class="alert alert-danger pull-right">Hlasování bylo ukončeno.</p>
                            </td></tr>
                        {% endif %}
                    </table>
                {% endif %}
            {% endfor %}
            {% if user and user['going_%s' % config.YEAR] %}
            </form>
            {% endif %}
            
            {% if "REGISTER_TALKS" in config.STAGES %}
            <p class="menu center menu-button"><a href="{{url_for('talk_edit')}}">
                        <i class="icon-bullhorn icon-white"></i>
                        Máš co říct? Přidej své téma</a>
            </p><div class="clearer"></div>
            {% endif %}
        {% endif %}

        <!-- sponzori -->
        <h2>Hlavní partneři akce</h2>
        <p class="sponsors">
            {{sponsors_main}}
        </p>
		
		<h2>Partneři akce</h2>
        <p class="sponsors">
            {{sponsors}}
        </p>
        <!-- / sponzori -->
        {% if "USERS" in config.STAGES %}
            <a name="entrants"></a>
            <h2>Účastníci</h2>
            <p>Právě je přihlášeno <strong>{{entrant_count}}</strong> účastníků.</p>
            <a href="{{url_for('entrants')}}">Kompletní seznam účastníků</a>
            
            {% if entrants %}
            <ul id="entrants">
            {% for entrant in entrants %}
                <li><a href="{{url_for('profile', user_hash=entrant.user_hash)}}">{{entrant.name}}</a></li>
            {% endfor %}
                <li>... <a href="{{url_for('entrants')}}"> a spousta dalších</a></li>
            </ul>
            {% endif %}
        
            {% if user and user['going_%s' % config.YEAR] %}
                <p class="menu center menu-button"><a class="gray" href="{{url_for('attend_remove')}}">
                        <i class="icon-remove icon-white"></i>
                        Už nechci přijít</a>
            {% else %}
                <a name="go"></a>
                <p class="menu center menu-button"><a href="{{url_for('attend_add')}}">
                        <i class="icon-heart icon-white"></i>
                        Chci přijít na Barcamp</a>
            </p><div class="clearer"></div>
            {% endif %}
        {% endif %}
        
        </p><div class="clearer"></div>
    </div>
</div>
<div class="clearer"></div>
<!-- pata -->
<div id="footer">
    <div class="wrapper">
        <div>
            &copy; Barcamp Brno {{config.YEAR}} &mdash; <a href="{{url_for('static_page', page='kontakty')}}">Kontakty</a>
        </div>
    </div>
</div>
{% endblock %}