{% extends "_base_landing.html"%}
{% block content %}
<div class="container">
    <div id="hp-content">
        <div class="wrapper">

            {{novinky}}

            {% if stage(config.YEAR, 'PROGRAM') %}
                {% include '_program.html' %}
            {% endif %}

            {% if stage(config.YEAR, 'USERS') %}
                <h2>Moje účast</h2>
                {% if going(user, config.YEAR) %}
                    <p class="menu center menu-button"><a class="btn btn-default" href="{{url_for('attend_remove')}}">
                            <i class="fa fa-remove"></i>
                            Už nechci přijít</a>
                {% else %}
                    <a name="go"></a>
                    <p class="menu center menu-button"><a class="btn btn-danger" href="{{url_for('attend_add')}}">
                            <i class="fa fa-heart"></i>
                            Chci přijít na Barcamp</a>
                    <div class="going-tooltip">Abys mohl hlasovat, musíš chtít přijít</div>
                </p><div class="clearer"></div>
                {% endif %}
            {% else %}
                <h2>Kdy budou registrace účastníků?</h2>
                <p></p>
                <p class="menu center menu-button"><a href="{{url_for('static_page', page='informace')}}">
                        <i class="fa fa-bullhorn"></i>
                        Registrace účasti začnou 1. 5. 2016</a>
                </p>
            {% endif %}

            <!-- sponzori -->
            <!-- <h2>Hlavní partneři akce</h2>
            <p class="sponsors">
                {{sponsors_main}}
            </p>
            
            <h2>Partneři akce</h2>
            <p class="sponsors">
                {{sponsors}}
            </p>

            <h2>Mediální partneři</h2>
            <p class="sponsors">
                {{sponsors_medial}}
            </p> -->
            <!-- / sponzori -->            
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.talk-block .voting .vote-button').click(function(event){
        event.preventDefault();
        var self = $(this);
        var nextAction = self.data('next-action');
        var action = self.data(nextAction);

        var caption = "přidávám tvůj hlas";
        if (nextAction == 'decrease') {
            caption = "odebírám tvůj hlas";
        }
        $('.caption', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);
        $('.caption-hover', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);

        $.ajax(action, {
            'accept': 'application/json',
            'success': function(data){
                var voteCount = parseInt(data);

                if (nextAction == 'increase') {
                    $('.caption', self).html('<i class="fa fa-star"></i> ty a ' + (voteCount - 1) + ' hlasů');
                    $('.caption-hover', self).html('<i class="fa fa-star-o"></i> zrušit hlas');
                    self.data('next-action', 'decrease');
                } else {
                    $('.caption', self).html('<i class="fa fa-star-o"></i> ' + voteCount + ' hlasů');
                    $('.caption-hover', self).html('<i class="fa fa-star"></i> přidat hlas');
                    self.data('next-action', 'increase');
                }
            },
            'error':  function(){

            },
        });

        return false;
    });
});
</script>
{% endblock %}