{% extends "_base_small.html" %}
{% block content_small %}
<!-- krok 1 -->
<div class="login_bar" id="login_content" style="margin-top: 0px;">
    <div class="center_page">
        <div class="title">Obnovení zapomenutého hesla</div>
        <div class="top_form_box">
            <div class="progress_box">
                <div class="item active">1.</div>
                <div class="item">2.</div>
                <div class="item">3.</div>
            </div>
            <form method="post" class="form validate login_form" action=".">
                {{form.csrf_token}}
                <fieldset>
                    <div class="input_box">
                        <input type="text" placeholder="Vaše emailová adresa" class="required" value="{{form.email.data or ''}}" name="email">
                    </div>
                </fieldset>
                
                <div class="buttons_box">
                    <button class="submit_button" type="submit">Odeslat</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /krok 1 -->
{% endblock%}