{% extends "_base_page.html" %}
{% block page_content %}
<!-- krok 2 -->
<h2>Nastavení nového hesla</h2>
{{forms.step_box(2)}}
<form method="post" class="form-horizontal" action=".">
    {{form.csrf_token}}
    <fieldset>
        {{forms.input(form.password, type='password')}}
        {{forms.input(form.confirm, type='password')}}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Odeslat</button>
    </div>
</form>
<!-- krok 2 -->
{% endblock%}