{% extends "_base_page.html" %}
{% block page_content %}
<!-- krok 1 -->
<h2>Vytvoření účtu</h2>
{{forms.step_box(1)}}
<form method="post" class="form-horizontal" action="{{url_for('login_create_account')}}">
    {{form.csrf_token}}
    <fieldset>
        {{ forms.input(form.email) }}
        {{ forms.gdpr_consent(form.gdpr_consent)}}
    </fieldset>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Odeslat</button>
    </div>
</form>

<!-- /krok 1 -->
{% endblock%}