{% if menu %}
<div class="menu">
    {{menu}}
    {% if "PROGRAM_READY" in config.STAGES %}
        <a href="{{url_for('program')}}">Program</a>
    {% endif %}
    {% if "END" in config.STAGES %}
        <a href="{{url_for('static_page', page='zhodnoceni')}}">Zhodnocení</a>
    {% endif %}
    {% if not user %}
        <a href="{{url_for('login')}}">Přihlásit se</a>
    {% else %}
        <a href="{{url_for('login_settings')}}">Profil</a>
        <a href="{{url_for('logout')}}">Odhlásit se</a>
    {% endif %}
</div>
{% endif %}
