{%- macro active_li(url, text) %}
    <li
        {% if request.path == url %}
            class="active"
        {% endif %}>
        <a href="{{url}}">{{text}}</a>
    </li>
{% endmacro -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="{{url_for('index')}}">
                <img alt="Barcamp Brno {{config.YEAR}}" src="{{"/" + config.YEAR if config.ARCHIVE}}/static/img/barcamp-square-transparent.png">
                Barcamp Brno {{config.YEAR}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if stage(config.YEAR, 'REVIEW-MENU') %}
                    {{active_li(url_for('static_page', page='zhodnoceni'), 'Zhodnocení')}}
                {% endif %}

                {% if stage(config.YEAR, 'CALL-FOR-PAPERS') or after_stage(config.YEAR, 'CALL-FOR-PAPERS') %}
                    {{active_li(url_for('talks_all'), 'Přednášky')}}
                {% endif %}
                {% if stage(config.YEAR, 'CALL-FOR-WORKSHOPS') or after_stage(config.YEAR, 'CALL-FOR-WORKSHOPS') %}
                    {{active_li(url_for('workshops_all'), 'Workshopy')}}
                {% endif %}
                {{active_li(url_for('static_page', page='informace'), 'Informace')}}
                {{active_li(url_for('sponsors'), 'Partneři')}}

                {% if stage(config.YEAR, 'END') %}
                    {{active_li(url_for('static_page', page='zhodnoceni'), 'Zhodnocení')}}
                {% endif %}
                {% if not user %}
                    {{active_li(url_for('login'), 'Přihlásit se')}}
                {% else %}
                    <li {% if request.path == url_for('login_settings') or request.path.startswith(url_for('my_invoices'))%}class="active"{% endif %}><a href="{{url_for('login_settings')}}">Profil</a></li>
                    {{active_li(url_for('logout'), 'Odhlásit se')}}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>