{% extends "_base_profile.html" %}
{% block profile_content %}
<h2>Moje objednávky</h2>
{% if invoices %}
    <table class="table">
        <thead>
            <tr>
                <th>číslo</th>
                <th>datum</th>
                <th>obsah</th>
                <th>cena</th>
                <th>stav</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{invoice.number}}</td>
                <td>{{invoice.date[:19].replace('T', ' ')}}</td>
                <td>
                        {% for size in sizes %}
                            {%- if invoice[size] > 0 %}
                                {% set type, actual_size = size.split('_') %}
                                {{'Pánské' if type == 'man' else 'Dámské'}} <strong>{{actual_size|upper}}</strong>: {{invoice[size]}} ks<br />
                            {% endif -%}
                        {% endfor %}
                </td>
                <td><strong>{{invoice.total_price}}</strong> kč</td>
                <td>{{invoice.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="warning">Žádné objednávky</div>
{% endif %}

<h2>Platební údaje</h2>

<ul>
    <li>BarCamp Brno, z.s.</li>
    <li>Lidická 1005/23B, Veveří</li>
    <li>602 00 Brno</li>
    <li>IČ. 22609288</li>
    <li>Bankovní spojení <strong>265188897 / 0300</strong></li>
    <li>Variabilní symbol ** číslo objednávky **</li>
</ul>
{% endblock %}
