{% extends "_base_profile.html" %}
{% block profile_content %}
<h2>Moje objednávky</h2>
{% if invoices %}
    <table class="table">
        <thead>
            <tr>
                <th>číslo</th>
                <th>datum</th>
                <th>obsah</th>
                <th>stav</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{invoice.number}}</td>
                <td>{{invoice.date[:19].replace('T', ' ')}}</td>
                <td>
                    <ul>
                        {% for size in sizes %}
                            {%- if invoice[size] > 0 %}
                                {% set type, actual_size = size.split('_') %}
                                <li>{{'Pánské' if type == 'man' else 'Dámské'}} <strong>{{actual_size|upper}}</strong>: {{invoice[size]}} ks</li>
                            {% endif -%}
                        {% endfor %}
                        <li>Cena: <strong>{{invoice.total_price}}</strong> kč</li>
                    </ul>
                </td>
                <td>{{invoice.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="warning">Žádné objednávky</div>
{% endif %}
{% endblock %}
