{% extends "_base_form.html" %}
{% block page_content %}
<h2>Nastavení profilu</h2>
<form action="." class="form-horizontal" method="post">
    <fieldset>
        {{form.csrf_token}}
        {{input(form.name)}}
        {{textarea(form.bio)}}
        {{input(form.company)}}
        {{input(form.web)}}
        {{input(form.twitter)}}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Odeslat</button>
        {% if user.going %}
            <a class="btn btn-danger pull-right" href="{{url_for('attend_remove')}}">Nechci se zůčastnit ({{config.YEAR}})</a>
        {% else %}
            {% if "USERS" in config.STAGES %}
            <a class="btn btn-success pull-right" href="{{url_for('attend_add')}}">Chci se zůčastnit ({{config.YEAR}})</a>
            {% endif %}
        {% endif %}
    </div>
</form>
{% endblock %}
