{% extends "_base_page.html"%}
{% macro render_sponsor_detail(sponsor) %}
<div class="row">
    <div class="mister-egg-logo col-md-3">{{ sponsor.logo|md }}</div>
    <div class="col-md-9">
        <h3 class="hidden-xs">{{ sponsor.title }}</h3>
        <div class="desc">{{ sponsor.body|md }}</div>
    </div>
</div>
{% endmacro %}
{% block page_content %}
{% if sponsors.gold %}
    <h3 class="text-center">Generální partner</h3>
    {% for sponsor in sponsors.gold %}
        {{ render_sponsor_detail(sponsor) }}
    {% endfor %}
{% endif %}

{% if sponsors.silver %}
    <h3 class="text-center">Hlavní partneři</h3>
    {% for sponsor in sponsors.silver %}
        {{ render_sponsor_detail(sponsor) }}
    {% endfor %}
{% endif %}

{% if sponsors.medial %}
    <h3 class="text-center">Partneři</h3>
    {% for sponsor in sponsors.medial %}
        {{ render_sponsor_detail(sponsor) }}
    {% endfor %}
{% endif %}

{% if sponsors.other %}
    <h3 class="text-center">Za podpory</h3>
    {% for sponsor in sponsors.other %}
        {{ render_sponsor_detail(sponsor) }}
    {% endfor %}
{% endif %}


{% if sponsors_other %}
    <h3 class="text-center">Ostatní partneři a podporovatelé</h3>
    {{sponsors_other}}
{% endif %}

<hr />
{{sponsors_info}}
</section>
{% endblock %}
