{% extends "_base_landing.html" %}
{% block content %}
<!-- Services -->
<section id="services">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div> -->
    <div class="row text-center">
      <div class="col-md-3">
        <!-- <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span> -->
        <span class="service-circle">
          1,3k
        </span>
        <h4 class="service-heading">Návštěvníků</h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
      </div>
      <div class="col-md-3">
        <!-- <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span> -->
        <span class="service-circle">
          32
        </span>
        <h4 class="service-heading">Přednášek</h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
      </div>
      <div class="col-md-3">
       <!--  <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span> -->
        <span class="service-circle">
          16
        </span>
        <h4 class="service-heading">Workshopů</h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
      </div>
      <div class="col-md-3">
       <!--  <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span> -->
        <span class="service-circle">
          1
        </span>
        <h4 class="service-heading">Skvělá párty</h4>
        <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
