{% extends "_base_page.html" %}
{% block page_content %}

{% if talk.talk_hash %}
<div class="collapse" id="informace">
  {{ informace }}
  <hr />
</div>
{% else %}
{{ informace }}
<hr />
{% endif %}

<h2>{% if talk.talk_hash %}Editace{% else %}Registrace nové{% endif %} přednášky</h2>
{% if talk.talk_hash %}
<p>
  Potřebujete upravit informace o přednášce? Přečtěte si v případě zájmu ještě jednou letošní pokyny. Děkujeme. <br />
  <a class="btn btn-info" data-toggle="collapse" href="#informace" role="button" aria-expanded="false" aria-controls="informace">
    Zobrazit podrobné instrukce
  </a>
</p>
{% endif %}
<form method="POST" class="form-horizontal" action="."  enctype="multipart/form-data">
    <fieldset>
        {{form.csrf_token}}
        {{forms.input(form.title)}}
        {{forms.input(form.speakers_name)}}
        {{forms.input(form.contact_phone)}}
        {{forms.input(form.image, type="file")}}
        {{forms.radiobox(form.category)}}
        {{forms.radiobox(form.length)}}
        {{forms.textarea(form.description)}}
        {{forms.textarea(form.purpose)}}
        {{forms.textarea(form.other)}}
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Odeslat</button>
        {% if talk.talk_hash %}
            <a class="btn btn-danger" href="{{url_for('talk_delete', talk_hash=talk.talk_hash)}}" onclick="return confirm('Odstranění nelze vrátit, opravdu chcete přednášku smazat?')">Smazat přednášku</a>
        {% endif %}
    </div>
</form>
{% endblock %}
