{% extends "_base_form.html" %}
{% block page_content %}
<h2>Editace přednášky</h2>
<form method="POST" class="form-horizontal" action=".">
    <fieldset>
        {{form.csrf_token}}
        {{input(form.title)}}
        {{textarea(form.description)}}
        {{textarea(form.purpose)}}
        {{input(form.company)}}
        {{input(form.web)}}
        {{input(form.twitter)}}
        {{textarea(form.other)}}
    </fiedlset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Odeslat</button>
        <a class="btn btn-danger" href="{{url_for('talk_delete', talk_hash=talk.talk_hash)}}" onclick="return confirm('Odstranění nelze vrátit, opravdu chcete přednášku smazat?')">Smazat přednášku</a>
    </div>
</form>
{% endblock %}