{% extends "_base_page.html" %}
{% block page_content %}
<h2>Přednášející{% if "VOTING" in config.STAGES %} &amp; hlasování{% endif %}</h2>
    {% if user and user['going_%s' % config.YEAR] %}    
    <form method="POST" action="{{url_for('vote_save')}}">
    {% endif %}
    {% for data in (extra_talks, talks) %}
        {% if loop.index == 1%}
            <h3>Barcamp zve <small><a href="{{url_for('static_page', page='barcamp-zve')}}">Co je to?</a></small></h3>
        {% else %}
            <h3>Volený program <small>(28 míst)</small></h3>
        {% endif %}
        <table class="table" id="talks">
            {% for talk in data %}
            <tr class="{{'fail' if loop.index > 28 and 'VOTING_END' in config.STAGES }}">
                <th>
                    {% if "VOTING_END" in config.STAGES %}
                    <span class="number">{{loop.index}}.</span> {% endif %} {{talk.user.name|no_emoji}}</th>
                <td><a href="{{url_for('talk_detail', talk_hash=talk.talk_hash)}}">{{talk.title|no_emoji}}</a></td>
                {% if "VOTING" in config.STAGES or "VOTING_END" in config.STAGES %}
                    <td>Počet&nbsp;hlasů&nbsp;<strong>{{talk.score or 0|int}}</strong></td>
                {% endif %}
                {% if user and user['going_%s' % config.YEAR] %}
                    <td><label><input
                        type="checkbox"
                        {{'checked' if talk.talk_hash in user_votes}}
                        name="{{talk.talk_hash}}"/> 
                        Chci vidět</label>
                    </td>
                {% endif %}
            </tr>
            {% else %}
                <div>Zatím zde nic není</div>
            {% endfor %}
            {% if user and user['going_%s' % config.YEAR] and "VOTING" in config.STAGES%}
            <tr>
                <td colspan="3"></td>
                <td><input type="submit" id="save-button" value="Uložit hlasy"></td>
            </tr>
            {% elif "VOTING" in config.STAGES %}
            <tr>
                <td colspan="2"></td>
                <td>
                    <p class="alert alert-danger">Hlasovat mohou jen ti, kteří chtějí přijít. (<a href="#go">přihlášení dole</a>)</p>
                </td></tr>
            {% endif %}
            {% if "VOTING_END" in config.STAGES%}
            <tr>
                <td colspan="4">
                    <p class="alert alert-danger pull-right">Hlasování bylo ukončeno.</p>
                </td></tr>
            {% endif %}
        </table>
    {% endfor %}
    {% if user and user['going_%s' % config.YEAR] %}
    </form>
    {% endif %}
    
    {% if "REGISTER_TALKS" in config.STAGES %}
    <p class="menu center menu-button"><a href="{{url_for('static_page', page='pro-prednasejici')}}">
                <i class="icon-bullhorn icon-white"></i>
                Máš co říct? Přidej své téma</a>
    </p><div class="clearer"></div>
    {% endif %}
{% endblock %}

