{% extends "_base_voting.html" %}
{% block title %}{{talk.title|no_emoji}} - Barcamp Brno {{config.YEAR}}{% endblock %}
{% block meta%}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@bcbrno">
<meta name="twitter:title" content="{{author.name}} - {{talk.title}}">
<meta name="twitter:description" content="{{talk.description|truncate(180, True)}}">
{% if author.twitter %}
<meta name="twitter:creator" content="{{author.twitter}}">
{% endif %}
<meta name="twitter:image:src" content="http://www.barcampbrno.cz/static/img/barcamp-square.png">
{% endblock %}
{% block page_content %}
<h2>Přednáška &mdash; {{talk.title|no_emoji}}</h2>
{{ talk_voting(talk) }}
<h3>Připravuje <a href="{{url_for('profile', user_hash=author.user_hash)}}">{{author.name|no_emoji}}</a> &mdash; {{talk_category(talk.category)}} &mdash; {{talk.length}} minut</h3>
{% if author.user_hash == user.user_hash %}
<div><a href="{{url_for('talk_edit', talk_hash=talk.talk_hash)}}">Upravit tuto přednášku</a></div>
{% endif %}
{{talk.description|nl2br}}
<h3>Pro koho je přednáška určena</h3>
{{talk.purpose|nl2br}}
<h3>Komentáře</h3>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'barcampbrno'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
$(document).ready(function(){
    $('.voting .vote-button').click(function(event){
        event.preventDefault();
        var self = $(this);
        var nextAction = self.data('next-action');
        var action = self.data(nextAction);

        var caption = "přidávám tvůj hlas";
        if (nextAction == 'decrease') {
            caption = "odebírám tvůj hlas";
        }
        $('.caption', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);
        $('.caption-hover', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);

        $.ajax(action, {
            'accept': 'application/json',
            'success': function(data){
                var voteCount = parseInt(data);

                if (nextAction == 'increase') {
                    $('.caption', self).html('<i class="fa fa-star"></i> ty a ' + (voteCount - 1) + ' hlasů');
                    $('.caption-hover', self).html('<i class="fa fa-star-o"></i> zrušit hlas');
                    self.data('next-action', 'decrease');
                } else {
                    $('.caption', self).html('<i class="fa fa-star-o"></i> ' + voteCount + ' hlasů');
                    $('.caption-hover', self).html('<i class="fa fa-star"></i> přidat hlas');
                    self.data('next-action', 'increase');
                }
            },
            'error':  function(){

            },
        });

        return false;
    });
});
</script>
{% endblock %}
