{% extends "_base_voting.html" %}
{% block title %}Přednášky{% endblock %}
{% block page_content %}
{% if stage(config.YEAR, 'PROGRAM') %}
    {% include 'program/prednasky.html' %}
{% elif stage(config.YEAR, 'CALL-FOR-PAPERS') or after_stage(config.YEAR, 'CALL-FOR-PAPERS') or admin() %}
    <!-- prednasejici -->
    <h2>Přednášky{% if stage(config.YEAR, 'VOTING') %} &amp; hlasování{% endif %}</h2>
    {% if stage(config.YEAR, 'CALL-FOR-PAPERS') or admin() %}
    <p class="menu center menu-button"><a class="btn btn-danger" href="{{url_for('talk_edit')}}">
                <i class="fa fa-bullhorn"></i>
                Máte co říct? Přidejte své téma</a>
    </p><div class="clearer"></div>
    {% endif %}
    {% if after_stage(config.YEAR, 'CALL-FOR-PAPERS') %}
    <p class="menu center menu-button">
                <i class="fa fa-meh-o"></i>
                Registrace přednášek už je uzavřená.
    </p><div class="clearer"></div>
    {% endif %}

    <h3>
        Témata volená účastníky
        <!-- <small>(21 míst)</small> -->
        <!-- <div class="pull-right">
            <a class="btn btn-default" onclick="showView('table'); return false"><i class="fa fa-list"></i></a>
            <a class="btn btn-default" onclick="showView('tiles'); return false"><i class="fa fa-table"></i></a>
        </div> -->
    </h3>

    <table class="table talks talks-table">
        {% for category in ('business-marketing', 'design', 'inspirational', 'development') %}
            {% for talk in talks[category] if talk.status == "approved" or admin() %}
                <tr>
                    <td><a href="{{url_for('talk_detail', talk_hash=talk.talk_hash)}}">{{talk.title}}</a></td>
                    <td class="">{{talk.speakers_name}}</td>
                    <td class="text-nowrap">{{talk_category(category)}}</td>
                    <td class="">{% if talk.status == "approved" %}{{ talk_voting(talk) }}{% endif %}</td>
                    {% if admin() %}
                      <td class="text-nowrap">{{ talk_status(talk.status) }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
        {% if stage(config.YEAR, 'VOTING') %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="width: 9em"></td>
          </tr>
        {% endif %}
    </table>
    {#<div id="talks" class="row talks talks-tiles">
        {% for category in  ('business-marketing', 'design', 'inspirational', 'development') %}
            <h2>{{talk_category(category)}}</h2>
            {% for talk in talks[category] %}
                <div id="talk-{{talk.talk_hash}}" class="talk-block col-md-3 col-sm-4">
                    <div class="talk-content">
                        <p class="talk-name">
                            <a href="{{url_for('talk_detail', talk_hash=talk.talk_hash)}}">{{talk.title|no_emoji}}</a>
                        </p>
                        {% set speakers = extract_speakers(talk.user.name) %}
                        <p>
                            <div class="pull-right small">{{talk.length}} minut</div>
                            {% for speaker in speakers %}
                                {{speaker}}{% if not loop.last %}<br/ >{% endif %}
                            {% endfor %}

                        </p>
                        {{ talk_voting(talk) }}
                        <a href="#" class="more-button" onclick="
                            var hadClass = $('#talk-{{talk.talk_hash}}').hasClass('more');
                            $('.more').removeClass('more');
                            if(!hadClass){
                                $('#talk-{{talk.talk_hash}}').addClass('more');
                            }
                            return false;
                        ">
                            <span class="fa-stack">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-angle-down fa-stack-1x icon-open"></i>
                                <i class="fa fa-angle-up fa-stack-1x icon-close"></i>
                            </span>
                        </a>
                        <div class="detail">
                            <p>{{talk.description}}</p>
                            <h3>Pro koho</h3>
                            <p>{{talk.purpose or "---"}}</p>
                            <h3>O autorovi</h3>
                            <p>{{talk.user.bio or "---"}}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}<div class="clearfix visible-sm-block"></div>{% endif %}
                {% if loop.index % 4 == 0 %}<div class="clearfix visible-md-block visible-lg-block"></div>{% endif %}
            {% endfor %}
            <div class="clearfix"></div>
        {% endfor %}
    </div>
    #}
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
    $('.voting .vote-button').click(function(event){
        event.preventDefault();
        var self = $(this);
        var nextAction = self.data('next-action');
        var action = self.data(nextAction);

        var caption = "přidávám tvůj hlas";
        if (nextAction == 'decrease') {
            caption = "odebírám tvůj hlas";
        }
        $('.caption', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);
        $('.caption-hover', self).html('<i class="fa fa-spinner fa-pulse"></i> ' + caption);

        $.ajax(action, {
            'accept': 'application/json',
            'success': function(data){
                var voteCount = parseInt(data);

                if (nextAction == 'increase') {
                    $('.caption', self).html('<i class="fas fa-star"></i> ty a ' + (voteCount - 1) + ' hlasů');
                    $('.caption-hover', self).html('<i class="far fa-star"></i> zrušit hlas');
                    self.data('next-action', 'decrease');
                } else {
                    $('.caption', self).html('<i class="far fa-star"></i> ' + voteCount + ' hlasů');
                    $('.caption-hover', self).html('<i class="fas fa-star"></i> přidat hlas');
                    self.data('next-action', 'increase');
                }
            },
            'error':  function(){
                location.reload();
            },
        });

        return false;
    });
});
</script>
{% endblock %}
