{% extends "_base_page.html" %}
{% block title %}Workshopy{% endblock %}
{% block page_content %}
<h2>Chci jít na workshop</h2>
<div class="row">
    <p class="col-md-7">Registrace na workshopy bude probíhat až v den konference přímo na místě. Každý, kdo má zájem se workshopu zúčastnit, se může po příchodu na Barcamp zapsat na účastnický list (papírový). Ten bude viset na dveřích místnosti, kde se budou konat workshopy. Počet míst na jednotlivé workshopy je omezený.</p>

    <p class="col-md-7">Každé místo na workshopu je rezervováno pouze do doby 5 minut před začátkem workshopu, takže přijďte včas. A pro ty, kteří se nevešli – zkuste své štěstí a přijďte před začátkem. Můžete nahradit ty, kteří se nedostavili.</p>
</div>
{% if stage(config.YEAR, 'WORKSHOPS-PROGRAM') %}
    {% include 'program/workshopy.html' %}
{% elif stage(config.YEAR, 'CALL-FOR-WORKSHOPS') or after_stage(config.YEAR, 'CALL-FOR-WORKSHOPS') %}
    <h2>Přihlášené workshopy</h2>
    {% if stage(config.YEAR, 'CALL-FOR-WORKSHOPS') %}
    <p class="menu center menu-button"><a class="btn btn-danger" href="{{url_for('workshop_edit')}}">
                <i class="fa fa-bullhorn"></i>
                Chceš udělat na Barcampu workshop? Přidej ho!</a>
    </p><div class="clearer"></div>
    {% endif %}
    {% if after_stage(config.YEAR, 'CALL-FOR-WORKSHOPS') %}
    <p class="menu center menu-button">
                <i class="fa fa-meh-o"></i>
                Registrace workshopů už je uzavřená.
    </p><div class="clearer"></div>
    {% endif %}
    <table class="table" id="workshops">
        {% for workshop in workshops %}
            <tr class="{% if workshop.status != 'approved' %}fail{% endif %}">
                <th>
                    <a href="{{url_for('workshop_detail', workshop_hash=workshop.workshop_hash)}}">{{workshop.title}}</a>
                </th>
                <td>{{workshop.user.name}}</td>
                <td class="shadow-name">{{status(workshop.status)}}</td>
            </tr>
        {% else %}
            <div>Zatím zde nic není</div>
        {% endfor %}
    </table>
    
{% endif %}
{% endblock %}